<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <jmxConfigurator />

    <property name="log_home" value="/home/logs/channelgateway"/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder charset="UTF-8">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%X{transId}] [%thread] %-5level %logger{80} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="systemLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${log_home}/ref_system.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log_home}/ref_system.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder charset="UTF-8">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%X{transId}] [%thread] %-5level %logger{80} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="businessAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${log_home}/ref_business.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log_home}/ref_business.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder charset="UTF-8">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%X{transId}] [%thread] %-5level %logger{80} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="businessLog" additivity="false" level="INFO">
        <appender-ref ref="console" />
        <appender-ref ref="businessAppender"/>
    </logger>

    <!-- project default level -->
    <logger name="com.education.app" level="DEBUG" />

    <!-- root -->
    <root level="info">
        <appender-ref ref="console" />
        <appender-ref ref="systemLog" />
    </root>

    <logger name="org.apache" level="WARN"/>
    <logger name="org.springframework" level="WARN"/>

</configuration>