<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jkf.channel.gateway.dao.ChannelMchtXlMapper" >
  <resultMap id="BaseResultMap" type="com.jkf.channel.gateway.entity.ChannelMchtXl" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="mch_id" property="mchId" jdbcType="BIGINT" />
    <result column="channel_id" property="channelId" jdbcType="BIGINT" />
    <result column="channel_mcht_no" property="channelMchtNo" jdbcType="VARCHAR" />
    <result column="channel_mcht_name" property="channelMchtName" jdbcType="VARCHAR" />
    <result column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="login_password" property="loginPassword" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="notify_url" property="notifyUrl" jdbcType="VARCHAR" />
    <result column="notify_flag" property="notifyFlag" jdbcType="CHAR" />
    <result column="check_status" property="checkStatus" jdbcType="VARCHAR" />
    <result column="check_message" property="checkMessage" jdbcType="VARCHAR" />
    <result column="check_time" property="checkTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_id" property="createId" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_id" property="updateId" jdbcType="BIGINT" />
    <result column="out_apply_id" property="outApplyId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, mch_id, channel_id, channel_mcht_no, channel_mcht_name, order_id, login_password, 
    user_name, notify_url, notify_flag, check_status, check_message, check_time, create_time, 
    create_id, update_time, update_id, out_apply_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jkf.channel.gateway.entity.ChannelMchtXlExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from channel_mcht_xl
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from channel_mcht_xl
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from channel_mcht_xl
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.jkf.channel.gateway.entity.ChannelMchtXlExample" >
    delete from channel_mcht_xl
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jkf.channel.gateway.entity.ChannelMchtXl"  useGeneratedKeys="true"
          keyProperty="id">
    insert into channel_mcht_xl (id, mch_id, channel_id, 
      channel_mcht_no, channel_mcht_name, order_id, 
      login_password, user_name, notify_url, 
      notify_flag, check_status, check_message, 
      check_time, create_time, create_id, 
      update_time, update_id, out_apply_id
      )
    values (#{id,jdbcType=BIGINT}, #{mchId,jdbcType=BIGINT}, #{channelId,jdbcType=BIGINT}, 
      #{channelMchtNo,jdbcType=VARCHAR}, #{channelMchtName,jdbcType=VARCHAR}, #{orderId,jdbcType=VARCHAR}, 
      #{loginPassword,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{notifyUrl,jdbcType=VARCHAR}, 
      #{notifyFlag,jdbcType=CHAR}, #{checkStatus,jdbcType=VARCHAR}, #{checkMessage,jdbcType=VARCHAR}, 
      #{checkTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, #{createId,jdbcType=BIGINT}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateId,jdbcType=BIGINT}, #{outApplyId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jkf.channel.gateway.entity.ChannelMchtXl"  useGeneratedKeys="true"
          keyProperty="id">
    insert into channel_mcht_xl
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="mchId != null" >
        mch_id,
      </if>
      <if test="channelId != null" >
        channel_id,
      </if>
      <if test="channelMchtNo != null" >
        channel_mcht_no,
      </if>
      <if test="channelMchtName != null" >
        channel_mcht_name,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="loginPassword != null" >
        login_password,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="notifyUrl != null" >
        notify_url,
      </if>
      <if test="notifyFlag != null" >
        notify_flag,
      </if>
      <if test="checkStatus != null" >
        check_status,
      </if>
      <if test="checkMessage != null" >
        check_message,
      </if>
      <if test="checkTime != null" >
        check_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createId != null" >
        create_id,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateId != null" >
        update_id,
      </if>
      <if test="outApplyId != null" >
        out_apply_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="mchId != null" >
        #{mchId,jdbcType=BIGINT},
      </if>
      <if test="channelId != null" >
        #{channelId,jdbcType=BIGINT},
      </if>
      <if test="channelMchtNo != null" >
        #{channelMchtNo,jdbcType=VARCHAR},
      </if>
      <if test="channelMchtName != null" >
        #{channelMchtName,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="loginPassword != null" >
        #{loginPassword,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="notifyUrl != null" >
        #{notifyUrl,jdbcType=VARCHAR},
      </if>
      <if test="notifyFlag != null" >
        #{notifyFlag,jdbcType=CHAR},
      </if>
      <if test="checkStatus != null" >
        #{checkStatus,jdbcType=VARCHAR},
      </if>
      <if test="checkMessage != null" >
        #{checkMessage,jdbcType=VARCHAR},
      </if>
      <if test="checkTime != null" >
        #{checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createId != null" >
        #{createId,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null" >
        #{updateId,jdbcType=BIGINT},
      </if>
      <if test="outApplyId != null" >
        #{outApplyId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jkf.channel.gateway.entity.ChannelMchtXlExample" resultType="java.lang.Integer" >
    select count(*) from channel_mcht_xl
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update channel_mcht_xl
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.mchId != null" >
        mch_id = #{record.mchId,jdbcType=BIGINT},
      </if>
      <if test="record.channelId != null" >
        channel_id = #{record.channelId,jdbcType=BIGINT},
      </if>
      <if test="record.channelMchtNo != null" >
        channel_mcht_no = #{record.channelMchtNo,jdbcType=VARCHAR},
      </if>
      <if test="record.channelMchtName != null" >
        channel_mcht_name = #{record.channelMchtName,jdbcType=VARCHAR},
      </if>
      <if test="record.orderId != null" >
        order_id = #{record.orderId,jdbcType=VARCHAR},
      </if>
      <if test="record.loginPassword != null" >
        login_password = #{record.loginPassword,jdbcType=VARCHAR},
      </if>
      <if test="record.userName != null" >
        user_name = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.notifyUrl != null" >
        notify_url = #{record.notifyUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.notifyFlag != null" >
        notify_flag = #{record.notifyFlag,jdbcType=CHAR},
      </if>
      <if test="record.checkStatus != null" >
        check_status = #{record.checkStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.checkMessage != null" >
        check_message = #{record.checkMessage,jdbcType=VARCHAR},
      </if>
      <if test="record.checkTime != null" >
        check_time = #{record.checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createId != null" >
        create_id = #{record.createId,jdbcType=BIGINT},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateId != null" >
        update_id = #{record.updateId,jdbcType=BIGINT},
      </if>
      <if test="record.outApplyId != null" >
        out_apply_id = #{record.outApplyId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update channel_mcht_xl
    set id = #{record.id,jdbcType=BIGINT},
      mch_id = #{record.mchId,jdbcType=BIGINT},
      channel_id = #{record.channelId,jdbcType=BIGINT},
      channel_mcht_no = #{record.channelMchtNo,jdbcType=VARCHAR},
      channel_mcht_name = #{record.channelMchtName,jdbcType=VARCHAR},
      order_id = #{record.orderId,jdbcType=VARCHAR},
      login_password = #{record.loginPassword,jdbcType=VARCHAR},
      user_name = #{record.userName,jdbcType=VARCHAR},
      notify_url = #{record.notifyUrl,jdbcType=VARCHAR},
      notify_flag = #{record.notifyFlag,jdbcType=CHAR},
      check_status = #{record.checkStatus,jdbcType=VARCHAR},
      check_message = #{record.checkMessage,jdbcType=VARCHAR},
      check_time = #{record.checkTime,jdbcType=TIMESTAMP},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_id = #{record.createId,jdbcType=BIGINT},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      update_id = #{record.updateId,jdbcType=BIGINT},
      out_apply_id = #{record.outApplyId,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jkf.channel.gateway.entity.ChannelMchtXl" >
    update channel_mcht_xl
    <set >
      <if test="mchId != null" >
        mch_id = #{mchId,jdbcType=BIGINT},
      </if>
      <if test="channelId != null" >
        channel_id = #{channelId,jdbcType=BIGINT},
      </if>
      <if test="channelMchtNo != null" >
        channel_mcht_no = #{channelMchtNo,jdbcType=VARCHAR},
      </if>
      <if test="channelMchtName != null" >
        channel_mcht_name = #{channelMchtName,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="loginPassword != null" >
        login_password = #{loginPassword,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="notifyUrl != null" >
        notify_url = #{notifyUrl,jdbcType=VARCHAR},
      </if>
      <if test="notifyFlag != null" >
        notify_flag = #{notifyFlag,jdbcType=CHAR},
      </if>
      <if test="checkStatus != null" >
        check_status = #{checkStatus,jdbcType=VARCHAR},
      </if>
      <if test="checkMessage != null" >
        check_message = #{checkMessage,jdbcType=VARCHAR},
      </if>
      <if test="checkTime != null" >
        check_time = #{checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createId != null" >
        create_id = #{createId,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null" >
        update_id = #{updateId,jdbcType=BIGINT},
      </if>
      <if test="outApplyId != null" >
        out_apply_id = #{outApplyId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jkf.channel.gateway.entity.ChannelMchtXl" >
    update channel_mcht_xl
    set mch_id = #{mchId,jdbcType=BIGINT},
      channel_id = #{channelId,jdbcType=BIGINT},
      channel_mcht_no = #{channelMchtNo,jdbcType=VARCHAR},
      channel_mcht_name = #{channelMchtName,jdbcType=VARCHAR},
      order_id = #{orderId,jdbcType=VARCHAR},
      login_password = #{loginPassword,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      notify_url = #{notifyUrl,jdbcType=VARCHAR},
      notify_flag = #{notifyFlag,jdbcType=CHAR},
      check_status = #{checkStatus,jdbcType=VARCHAR},
      check_message = #{checkMessage,jdbcType=VARCHAR},
      check_time = #{checkTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_id = #{createId,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_id = #{updateId,jdbcType=BIGINT},
      out_apply_id = #{outApplyId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>