<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jkf.channel.gateway.dao.MchInfoMapper" >
  <resultMap id="BaseResultMap" type="com.jkf.channel.gateway.entity.MchInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="out_mch_no" property="outMchNo" jdbcType="VARCHAR" />
    <result column="mch_no" property="mchNo" jdbcType="VARCHAR" />
    <result column="org_id" property="orgId" jdbcType="BIGINT" />
    <result column="agent_id" property="agentId" jdbcType="BIGINT" />
    <result column="mch_name" property="mchName" jdbcType="VARCHAR" />
    <result column="user_admin_id" property="userAdminId" jdbcType="BIGINT" />
    <result column="mch_status" property="mchStatus" jdbcType="CHAR" />
    <result column="mch_type" property="mchType" jdbcType="CHAR" />
    <result column="mch_short_name" property="mchShortName" jdbcType="VARCHAR" />
    <result column="register_address" property="registerAddress" jdbcType="VARCHAR" />
    <result column="business_provice_code" property="businessProviceCode" jdbcType="VARCHAR" />
    <result column="business_city_code" property="businessCityCode" jdbcType="VARCHAR" />
    <result column="business_county_code" property="businessCountyCode" jdbcType="VARCHAR" />
    <result column="business_address" property="businessAddress" jdbcType="VARCHAR" />
    <result column="business_address_name" property="businessAddressName" jdbcType="VARCHAR" />
    <result column="business_license" property="businessLicense" jdbcType="VARCHAR" />
    <result column="business_amt" property="businessAmt" jdbcType="VARCHAR" />
    <result column="business_expire_start" property="businessExpireStart" jdbcType="VARCHAR" />
    <result column="business_expire_end" property="businessExpireEnd" jdbcType="VARCHAR" />
    <result column="business_info" property="businessInfo" jdbcType="VARCHAR" />
    <result column="enterprise_category" property="enterpriseCategory" jdbcType="VARCHAR" />
    <result column="enterprise_scale" property="enterpriseScale" jdbcType="VARCHAR" />
    <result column="mcc" property="mcc" jdbcType="VARCHAR" />
    <result column="legal_name" property="legalName" jdbcType="VARCHAR" />
    <result column="legal_cert_type" property="legalCertType" jdbcType="CHAR" />
    <result column="legal_cert_no" property="legalCertNo" jdbcType="VARCHAR" />
    <result column="legal_phone" property="legalPhone" jdbcType="VARCHAR" />
    <result column="legal_expire_start" property="legalExpireStart" jdbcType="VARCHAR" />
    <result column="legal_expire_end" property="legalExpireEnd" jdbcType="VARCHAR" />
    <result column="legal_cert_address" property="legalCertAddress" jdbcType="VARCHAR" />
    <result column="contact_name" property="contactName" jdbcType="VARCHAR" />
    <result column="contact_cert_type" property="contactCertType" jdbcType="CHAR" />
    <result column="contact_cert_no" property="contactCertNo" jdbcType="VARCHAR" />
    <result column="contact_phone" property="contactPhone" jdbcType="VARCHAR" />
    <result column="contact_expire_start" property="contactExpireStart" jdbcType="VARCHAR" />
    <result column="contact_expire_end" property="contactExpireEnd" jdbcType="VARCHAR" />
    <result column="contact_address" property="contactAddress" jdbcType="VARCHAR" />
    <result column="contact_email" property="contactEmail" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="check_remark" property="checkRemark" jdbcType="VARCHAR" />
    <result column="pass_time" property="passTime" jdbcType="VARCHAR" />
    <result column="mch_source" property="mchSource" jdbcType="VARCHAR" />
    <result column="settle_cycle" property="settleCycle" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_id" property="createId" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_id" property="updateId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, out_mch_no, mch_no, org_id, agent_id, mch_name, user_admin_id, mch_status, mch_type, 
    mch_short_name, register_address, business_provice_code, business_city_code, business_county_code, 
    business_address, business_address_name, business_license, business_amt, business_expire_start, 
    business_expire_end, business_info, enterprise_category, enterprise_scale, mcc, legal_name, 
    legal_cert_type, legal_cert_no, legal_phone, legal_expire_start, legal_expire_end, 
    legal_cert_address, contact_name, contact_cert_type, contact_cert_no, contact_phone, 
    contact_expire_start, contact_expire_end, contact_address, contact_email, remark, 
    check_remark, pass_time, mch_source, settle_cycle, create_time, create_id, update_time, 
    update_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jkf.channel.gateway.entity.MchInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from mch_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from mch_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from mch_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.jkf.channel.gateway.entity.MchInfoExample" >
    delete from mch_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jkf.channel.gateway.entity.MchInfo" useGeneratedKeys="true"
          keyProperty="id">
    insert into mch_info (id, out_mch_no, mch_no, 
      org_id, agent_id, mch_name, 
      user_admin_id, mch_status, mch_type, 
      mch_short_name, register_address, business_provice_code, 
      business_city_code, business_county_code, business_address, 
      business_address_name, business_license, business_amt, 
      business_expire_start, business_expire_end, 
      business_info, enterprise_category, enterprise_scale, 
      mcc, legal_name, legal_cert_type, 
      legal_cert_no, legal_phone, legal_expire_start, 
      legal_expire_end, legal_cert_address, contact_name, 
      contact_cert_type, contact_cert_no, contact_phone, 
      contact_expire_start, contact_expire_end, contact_address, 
      contact_email, remark, check_remark, 
      pass_time, mch_source, settle_cycle, 
      create_time, create_id, update_time, 
      update_id)
    values (#{id,jdbcType=BIGINT}, #{outMchNo,jdbcType=VARCHAR}, #{mchNo,jdbcType=VARCHAR}, 
      #{orgId,jdbcType=BIGINT}, #{agentId,jdbcType=BIGINT}, #{mchName,jdbcType=VARCHAR}, 
      #{userAdminId,jdbcType=BIGINT}, #{mchStatus,jdbcType=CHAR}, #{mchType,jdbcType=CHAR}, 
      #{mchShortName,jdbcType=VARCHAR}, #{registerAddress,jdbcType=VARCHAR}, #{businessProviceCode,jdbcType=VARCHAR}, 
      #{businessCityCode,jdbcType=VARCHAR}, #{businessCountyCode,jdbcType=VARCHAR}, #{businessAddress,jdbcType=VARCHAR}, 
      #{businessAddressName,jdbcType=VARCHAR}, #{businessLicense,jdbcType=VARCHAR}, #{businessAmt,jdbcType=VARCHAR}, 
      #{businessExpireStart,jdbcType=VARCHAR}, #{businessExpireEnd,jdbcType=VARCHAR}, 
      #{businessInfo,jdbcType=VARCHAR}, #{enterpriseCategory,jdbcType=VARCHAR}, #{enterpriseScale,jdbcType=VARCHAR}, 
      #{mcc,jdbcType=VARCHAR}, #{legalName,jdbcType=VARCHAR}, #{legalCertType,jdbcType=CHAR}, 
      #{legalCertNo,jdbcType=VARCHAR}, #{legalPhone,jdbcType=VARCHAR}, #{legalExpireStart,jdbcType=VARCHAR}, 
      #{legalExpireEnd,jdbcType=VARCHAR}, #{legalCertAddress,jdbcType=VARCHAR}, #{contactName,jdbcType=VARCHAR}, 
      #{contactCertType,jdbcType=CHAR}, #{contactCertNo,jdbcType=VARCHAR}, #{contactPhone,jdbcType=VARCHAR}, 
      #{contactExpireStart,jdbcType=VARCHAR}, #{contactExpireEnd,jdbcType=VARCHAR}, #{contactAddress,jdbcType=VARCHAR}, 
      #{contactEmail,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{checkRemark,jdbcType=VARCHAR}, 
      #{passTime,jdbcType=VARCHAR}, #{mchSource,jdbcType=VARCHAR}, #{settleCycle,jdbcType=CHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createId,jdbcType=BIGINT}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{updateId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.jkf.channel.gateway.entity.MchInfo" useGeneratedKeys="true"
          keyProperty="id">
    insert into mch_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="outMchNo != null" >
        out_mch_no,
      </if>
      <if test="mchNo != null" >
        mch_no,
      </if>
      <if test="orgId != null" >
        org_id,
      </if>
      <if test="agentId != null" >
        agent_id,
      </if>
      <if test="mchName != null" >
        mch_name,
      </if>
      <if test="userAdminId != null" >
        user_admin_id,
      </if>
      <if test="mchStatus != null" >
        mch_status,
      </if>
      <if test="mchType != null" >
        mch_type,
      </if>
      <if test="mchShortName != null" >
        mch_short_name,
      </if>
      <if test="registerAddress != null" >
        register_address,
      </if>
      <if test="businessProviceCode != null" >
        business_provice_code,
      </if>
      <if test="businessCityCode != null" >
        business_city_code,
      </if>
      <if test="businessCountyCode != null" >
        business_county_code,
      </if>
      <if test="businessAddress != null" >
        business_address,
      </if>
      <if test="businessAddressName != null" >
        business_address_name,
      </if>
      <if test="businessLicense != null" >
        business_license,
      </if>
      <if test="businessAmt != null" >
        business_amt,
      </if>
      <if test="businessExpireStart != null" >
        business_expire_start,
      </if>
      <if test="businessExpireEnd != null" >
        business_expire_end,
      </if>
      <if test="businessInfo != null" >
        business_info,
      </if>
      <if test="enterpriseCategory != null" >
        enterprise_category,
      </if>
      <if test="enterpriseScale != null" >
        enterprise_scale,
      </if>
      <if test="mcc != null" >
        mcc,
      </if>
      <if test="legalName != null" >
        legal_name,
      </if>
      <if test="legalCertType != null" >
        legal_cert_type,
      </if>
      <if test="legalCertNo != null" >
        legal_cert_no,
      </if>
      <if test="legalPhone != null" >
        legal_phone,
      </if>
      <if test="legalExpireStart != null" >
        legal_expire_start,
      </if>
      <if test="legalExpireEnd != null" >
        legal_expire_end,
      </if>
      <if test="legalCertAddress != null" >
        legal_cert_address,
      </if>
      <if test="contactName != null" >
        contact_name,
      </if>
      <if test="contactCertType != null" >
        contact_cert_type,
      </if>
      <if test="contactCertNo != null" >
        contact_cert_no,
      </if>
      <if test="contactPhone != null" >
        contact_phone,
      </if>
      <if test="contactExpireStart != null" >
        contact_expire_start,
      </if>
      <if test="contactExpireEnd != null" >
        contact_expire_end,
      </if>
      <if test="contactAddress != null" >
        contact_address,
      </if>
      <if test="contactEmail != null" >
        contact_email,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="checkRemark != null" >
        check_remark,
      </if>
      <if test="passTime != null" >
        pass_time,
      </if>
      <if test="mchSource != null" >
        mch_source,
      </if>
      <if test="settleCycle != null" >
        settle_cycle,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createId != null" >
        create_id,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateId != null" >
        update_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="outMchNo != null" >
        #{outMchNo,jdbcType=VARCHAR},
      </if>
      <if test="mchNo != null" >
        #{mchNo,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null" >
        #{orgId,jdbcType=BIGINT},
      </if>
      <if test="agentId != null" >
        #{agentId,jdbcType=BIGINT},
      </if>
      <if test="mchName != null" >
        #{mchName,jdbcType=VARCHAR},
      </if>
      <if test="userAdminId != null" >
        #{userAdminId,jdbcType=BIGINT},
      </if>
      <if test="mchStatus != null" >
        #{mchStatus,jdbcType=CHAR},
      </if>
      <if test="mchType != null" >
        #{mchType,jdbcType=CHAR},
      </if>
      <if test="mchShortName != null" >
        #{mchShortName,jdbcType=VARCHAR},
      </if>
      <if test="registerAddress != null" >
        #{registerAddress,jdbcType=VARCHAR},
      </if>
      <if test="businessProviceCode != null" >
        #{businessProviceCode,jdbcType=VARCHAR},
      </if>
      <if test="businessCityCode != null" >
        #{businessCityCode,jdbcType=VARCHAR},
      </if>
      <if test="businessCountyCode != null" >
        #{businessCountyCode,jdbcType=VARCHAR},
      </if>
      <if test="businessAddress != null" >
        #{businessAddress,jdbcType=VARCHAR},
      </if>
      <if test="businessAddressName != null" >
        #{businessAddressName,jdbcType=VARCHAR},
      </if>
      <if test="businessLicense != null" >
        #{businessLicense,jdbcType=VARCHAR},
      </if>
      <if test="businessAmt != null" >
        #{businessAmt,jdbcType=VARCHAR},
      </if>
      <if test="businessExpireStart != null" >
        #{businessExpireStart,jdbcType=VARCHAR},
      </if>
      <if test="businessExpireEnd != null" >
        #{businessExpireEnd,jdbcType=VARCHAR},
      </if>
      <if test="businessInfo != null" >
        #{businessInfo,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseCategory != null" >
        #{enterpriseCategory,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseScale != null" >
        #{enterpriseScale,jdbcType=VARCHAR},
      </if>
      <if test="mcc != null" >
        #{mcc,jdbcType=VARCHAR},
      </if>
      <if test="legalName != null" >
        #{legalName,jdbcType=VARCHAR},
      </if>
      <if test="legalCertType != null" >
        #{legalCertType,jdbcType=CHAR},
      </if>
      <if test="legalCertNo != null" >
        #{legalCertNo,jdbcType=VARCHAR},
      </if>
      <if test="legalPhone != null" >
        #{legalPhone,jdbcType=VARCHAR},
      </if>
      <if test="legalExpireStart != null" >
        #{legalExpireStart,jdbcType=VARCHAR},
      </if>
      <if test="legalExpireEnd != null" >
        #{legalExpireEnd,jdbcType=VARCHAR},
      </if>
      <if test="legalCertAddress != null" >
        #{legalCertAddress,jdbcType=VARCHAR},
      </if>
      <if test="contactName != null" >
        #{contactName,jdbcType=VARCHAR},
      </if>
      <if test="contactCertType != null" >
        #{contactCertType,jdbcType=CHAR},
      </if>
      <if test="contactCertNo != null" >
        #{contactCertNo,jdbcType=VARCHAR},
      </if>
      <if test="contactPhone != null" >
        #{contactPhone,jdbcType=VARCHAR},
      </if>
      <if test="contactExpireStart != null" >
        #{contactExpireStart,jdbcType=VARCHAR},
      </if>
      <if test="contactExpireEnd != null" >
        #{contactExpireEnd,jdbcType=VARCHAR},
      </if>
      <if test="contactAddress != null" >
        #{contactAddress,jdbcType=VARCHAR},
      </if>
      <if test="contactEmail != null" >
        #{contactEmail,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="checkRemark != null" >
        #{checkRemark,jdbcType=VARCHAR},
      </if>
      <if test="passTime != null" >
        #{passTime,jdbcType=VARCHAR},
      </if>
      <if test="mchSource != null" >
        #{mchSource,jdbcType=VARCHAR},
      </if>
      <if test="settleCycle != null" >
        #{settleCycle,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createId != null" >
        #{createId,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null" >
        #{updateId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jkf.channel.gateway.entity.MchInfoExample" resultType="java.lang.Integer" >
    select count(*) from mch_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update mch_info
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.outMchNo != null" >
        out_mch_no = #{record.outMchNo,jdbcType=VARCHAR},
      </if>
      <if test="record.mchNo != null" >
        mch_no = #{record.mchNo,jdbcType=VARCHAR},
      </if>
      <if test="record.orgId != null" >
        org_id = #{record.orgId,jdbcType=BIGINT},
      </if>
      <if test="record.agentId != null" >
        agent_id = #{record.agentId,jdbcType=BIGINT},
      </if>
      <if test="record.mchName != null" >
        mch_name = #{record.mchName,jdbcType=VARCHAR},
      </if>
      <if test="record.userAdminId != null" >
        user_admin_id = #{record.userAdminId,jdbcType=BIGINT},
      </if>
      <if test="record.mchStatus != null" >
        mch_status = #{record.mchStatus,jdbcType=CHAR},
      </if>
      <if test="record.mchType != null" >
        mch_type = #{record.mchType,jdbcType=CHAR},
      </if>
      <if test="record.mchShortName != null" >
        mch_short_name = #{record.mchShortName,jdbcType=VARCHAR},
      </if>
      <if test="record.registerAddress != null" >
        register_address = #{record.registerAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.businessProviceCode != null" >
        business_provice_code = #{record.businessProviceCode,jdbcType=VARCHAR},
      </if>
      <if test="record.businessCityCode != null" >
        business_city_code = #{record.businessCityCode,jdbcType=VARCHAR},
      </if>
      <if test="record.businessCountyCode != null" >
        business_county_code = #{record.businessCountyCode,jdbcType=VARCHAR},
      </if>
      <if test="record.businessAddress != null" >
        business_address = #{record.businessAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.businessAddressName != null" >
        business_address_name = #{record.businessAddressName,jdbcType=VARCHAR},
      </if>
      <if test="record.businessLicense != null" >
        business_license = #{record.businessLicense,jdbcType=VARCHAR},
      </if>
      <if test="record.businessAmt != null" >
        business_amt = #{record.businessAmt,jdbcType=VARCHAR},
      </if>
      <if test="record.businessExpireStart != null" >
        business_expire_start = #{record.businessExpireStart,jdbcType=VARCHAR},
      </if>
      <if test="record.businessExpireEnd != null" >
        business_expire_end = #{record.businessExpireEnd,jdbcType=VARCHAR},
      </if>
      <if test="record.businessInfo != null" >
        business_info = #{record.businessInfo,jdbcType=VARCHAR},
      </if>
      <if test="record.enterpriseCategory != null" >
        enterprise_category = #{record.enterpriseCategory,jdbcType=VARCHAR},
      </if>
      <if test="record.enterpriseScale != null" >
        enterprise_scale = #{record.enterpriseScale,jdbcType=VARCHAR},
      </if>
      <if test="record.mcc != null" >
        mcc = #{record.mcc,jdbcType=VARCHAR},
      </if>
      <if test="record.legalName != null" >
        legal_name = #{record.legalName,jdbcType=VARCHAR},
      </if>
      <if test="record.legalCertType != null" >
        legal_cert_type = #{record.legalCertType,jdbcType=CHAR},
      </if>
      <if test="record.legalCertNo != null" >
        legal_cert_no = #{record.legalCertNo,jdbcType=VARCHAR},
      </if>
      <if test="record.legalPhone != null" >
        legal_phone = #{record.legalPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.legalExpireStart != null" >
        legal_expire_start = #{record.legalExpireStart,jdbcType=VARCHAR},
      </if>
      <if test="record.legalExpireEnd != null" >
        legal_expire_end = #{record.legalExpireEnd,jdbcType=VARCHAR},
      </if>
      <if test="record.legalCertAddress != null" >
        legal_cert_address = #{record.legalCertAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.contactName != null" >
        contact_name = #{record.contactName,jdbcType=VARCHAR},
      </if>
      <if test="record.contactCertType != null" >
        contact_cert_type = #{record.contactCertType,jdbcType=CHAR},
      </if>
      <if test="record.contactCertNo != null" >
        contact_cert_no = #{record.contactCertNo,jdbcType=VARCHAR},
      </if>
      <if test="record.contactPhone != null" >
        contact_phone = #{record.contactPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.contactExpireStart != null" >
        contact_expire_start = #{record.contactExpireStart,jdbcType=VARCHAR},
      </if>
      <if test="record.contactExpireEnd != null" >
        contact_expire_end = #{record.contactExpireEnd,jdbcType=VARCHAR},
      </if>
      <if test="record.contactAddress != null" >
        contact_address = #{record.contactAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.contactEmail != null" >
        contact_email = #{record.contactEmail,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.checkRemark != null" >
        check_remark = #{record.checkRemark,jdbcType=VARCHAR},
      </if>
      <if test="record.passTime != null" >
        pass_time = #{record.passTime,jdbcType=VARCHAR},
      </if>
      <if test="record.mchSource != null" >
        mch_source = #{record.mchSource,jdbcType=VARCHAR},
      </if>
      <if test="record.settleCycle != null" >
        settle_cycle = #{record.settleCycle,jdbcType=CHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createId != null" >
        create_id = #{record.createId,jdbcType=BIGINT},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateId != null" >
        update_id = #{record.updateId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update mch_info
    set id = #{record.id,jdbcType=BIGINT},
      out_mch_no = #{record.outMchNo,jdbcType=VARCHAR},
      mch_no = #{record.mchNo,jdbcType=VARCHAR},
      org_id = #{record.orgId,jdbcType=BIGINT},
      agent_id = #{record.agentId,jdbcType=BIGINT},
      mch_name = #{record.mchName,jdbcType=VARCHAR},
      user_admin_id = #{record.userAdminId,jdbcType=BIGINT},
      mch_status = #{record.mchStatus,jdbcType=CHAR},
      mch_type = #{record.mchType,jdbcType=CHAR},
      mch_short_name = #{record.mchShortName,jdbcType=VARCHAR},
      register_address = #{record.registerAddress,jdbcType=VARCHAR},
      business_provice_code = #{record.businessProviceCode,jdbcType=VARCHAR},
      business_city_code = #{record.businessCityCode,jdbcType=VARCHAR},
      business_county_code = #{record.businessCountyCode,jdbcType=VARCHAR},
      business_address = #{record.businessAddress,jdbcType=VARCHAR},
      business_address_name = #{record.businessAddressName,jdbcType=VARCHAR},
      business_license = #{record.businessLicense,jdbcType=VARCHAR},
      business_amt = #{record.businessAmt,jdbcType=VARCHAR},
      business_expire_start = #{record.businessExpireStart,jdbcType=VARCHAR},
      business_expire_end = #{record.businessExpireEnd,jdbcType=VARCHAR},
      business_info = #{record.businessInfo,jdbcType=VARCHAR},
      enterprise_category = #{record.enterpriseCategory,jdbcType=VARCHAR},
      enterprise_scale = #{record.enterpriseScale,jdbcType=VARCHAR},
      mcc = #{record.mcc,jdbcType=VARCHAR},
      legal_name = #{record.legalName,jdbcType=VARCHAR},
      legal_cert_type = #{record.legalCertType,jdbcType=CHAR},
      legal_cert_no = #{record.legalCertNo,jdbcType=VARCHAR},
      legal_phone = #{record.legalPhone,jdbcType=VARCHAR},
      legal_expire_start = #{record.legalExpireStart,jdbcType=VARCHAR},
      legal_expire_end = #{record.legalExpireEnd,jdbcType=VARCHAR},
      legal_cert_address = #{record.legalCertAddress,jdbcType=VARCHAR},
      contact_name = #{record.contactName,jdbcType=VARCHAR},
      contact_cert_type = #{record.contactCertType,jdbcType=CHAR},
      contact_cert_no = #{record.contactCertNo,jdbcType=VARCHAR},
      contact_phone = #{record.contactPhone,jdbcType=VARCHAR},
      contact_expire_start = #{record.contactExpireStart,jdbcType=VARCHAR},
      contact_expire_end = #{record.contactExpireEnd,jdbcType=VARCHAR},
      contact_address = #{record.contactAddress,jdbcType=VARCHAR},
      contact_email = #{record.contactEmail,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      check_remark = #{record.checkRemark,jdbcType=VARCHAR},
      pass_time = #{record.passTime,jdbcType=VARCHAR},
      mch_source = #{record.mchSource,jdbcType=VARCHAR},
      settle_cycle = #{record.settleCycle,jdbcType=CHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_id = #{record.createId,jdbcType=BIGINT},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      update_id = #{record.updateId,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jkf.channel.gateway.entity.MchInfo" >
    update mch_info
    <set >
      <if test="outMchNo != null" >
        out_mch_no = #{outMchNo,jdbcType=VARCHAR},
      </if>
      <if test="mchNo != null" >
        mch_no = #{mchNo,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null" >
        org_id = #{orgId,jdbcType=BIGINT},
      </if>
      <if test="agentId != null" >
        agent_id = #{agentId,jdbcType=BIGINT},
      </if>
      <if test="mchName != null" >
        mch_name = #{mchName,jdbcType=VARCHAR},
      </if>
      <if test="userAdminId != null" >
        user_admin_id = #{userAdminId,jdbcType=BIGINT},
      </if>
      <if test="mchStatus != null" >
        mch_status = #{mchStatus,jdbcType=CHAR},
      </if>
      <if test="mchType != null" >
        mch_type = #{mchType,jdbcType=CHAR},
      </if>
      <if test="mchShortName != null" >
        mch_short_name = #{mchShortName,jdbcType=VARCHAR},
      </if>
      <if test="registerAddress != null" >
        register_address = #{registerAddress,jdbcType=VARCHAR},
      </if>
      <if test="businessProviceCode != null" >
        business_provice_code = #{businessProviceCode,jdbcType=VARCHAR},
      </if>
      <if test="businessCityCode != null" >
        business_city_code = #{businessCityCode,jdbcType=VARCHAR},
      </if>
      <if test="businessCountyCode != null" >
        business_county_code = #{businessCountyCode,jdbcType=VARCHAR},
      </if>
      <if test="businessAddress != null" >
        business_address = #{businessAddress,jdbcType=VARCHAR},
      </if>
      <if test="businessAddressName != null" >
        business_address_name = #{businessAddressName,jdbcType=VARCHAR},
      </if>
      <if test="businessLicense != null" >
        business_license = #{businessLicense,jdbcType=VARCHAR},
      </if>
      <if test="businessAmt != null" >
        business_amt = #{businessAmt,jdbcType=VARCHAR},
      </if>
      <if test="businessExpireStart != null" >
        business_expire_start = #{businessExpireStart,jdbcType=VARCHAR},
      </if>
      <if test="businessExpireEnd != null" >
        business_expire_end = #{businessExpireEnd,jdbcType=VARCHAR},
      </if>
      <if test="businessInfo != null" >
        business_info = #{businessInfo,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseCategory != null" >
        enterprise_category = #{enterpriseCategory,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseScale != null" >
        enterprise_scale = #{enterpriseScale,jdbcType=VARCHAR},
      </if>
      <if test="mcc != null" >
        mcc = #{mcc,jdbcType=VARCHAR},
      </if>
      <if test="legalName != null" >
        legal_name = #{legalName,jdbcType=VARCHAR},
      </if>
      <if test="legalCertType != null" >
        legal_cert_type = #{legalCertType,jdbcType=CHAR},
      </if>
      <if test="legalCertNo != null" >
        legal_cert_no = #{legalCertNo,jdbcType=VARCHAR},
      </if>
      <if test="legalPhone != null" >
        legal_phone = #{legalPhone,jdbcType=VARCHAR},
      </if>
      <if test="legalExpireStart != null" >
        legal_expire_start = #{legalExpireStart,jdbcType=VARCHAR},
      </if>
      <if test="legalExpireEnd != null" >
        legal_expire_end = #{legalExpireEnd,jdbcType=VARCHAR},
      </if>
      <if test="legalCertAddress != null" >
        legal_cert_address = #{legalCertAddress,jdbcType=VARCHAR},
      </if>
      <if test="contactName != null" >
        contact_name = #{contactName,jdbcType=VARCHAR},
      </if>
      <if test="contactCertType != null" >
        contact_cert_type = #{contactCertType,jdbcType=CHAR},
      </if>
      <if test="contactCertNo != null" >
        contact_cert_no = #{contactCertNo,jdbcType=VARCHAR},
      </if>
      <if test="contactPhone != null" >
        contact_phone = #{contactPhone,jdbcType=VARCHAR},
      </if>
      <if test="contactExpireStart != null" >
        contact_expire_start = #{contactExpireStart,jdbcType=VARCHAR},
      </if>
      <if test="contactExpireEnd != null" >
        contact_expire_end = #{contactExpireEnd,jdbcType=VARCHAR},
      </if>
      <if test="contactAddress != null" >
        contact_address = #{contactAddress,jdbcType=VARCHAR},
      </if>
      <if test="contactEmail != null" >
        contact_email = #{contactEmail,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="checkRemark != null" >
        check_remark = #{checkRemark,jdbcType=VARCHAR},
      </if>
      <if test="passTime != null" >
        pass_time = #{passTime,jdbcType=VARCHAR},
      </if>
      <if test="mchSource != null" >
        mch_source = #{mchSource,jdbcType=VARCHAR},
      </if>
      <if test="settleCycle != null" >
        settle_cycle = #{settleCycle,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createId != null" >
        create_id = #{createId,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null" >
        update_id = #{updateId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jkf.channel.gateway.entity.MchInfo" >
    update mch_info
    set out_mch_no = #{outMchNo,jdbcType=VARCHAR},
      mch_no = #{mchNo,jdbcType=VARCHAR},
      org_id = #{orgId,jdbcType=BIGINT},
      agent_id = #{agentId,jdbcType=BIGINT},
      mch_name = #{mchName,jdbcType=VARCHAR},
      user_admin_id = #{userAdminId,jdbcType=BIGINT},
      mch_status = #{mchStatus,jdbcType=CHAR},
      mch_type = #{mchType,jdbcType=CHAR},
      mch_short_name = #{mchShortName,jdbcType=VARCHAR},
      register_address = #{registerAddress,jdbcType=VARCHAR},
      business_provice_code = #{businessProviceCode,jdbcType=VARCHAR},
      business_city_code = #{businessCityCode,jdbcType=VARCHAR},
      business_county_code = #{businessCountyCode,jdbcType=VARCHAR},
      business_address = #{businessAddress,jdbcType=VARCHAR},
      business_address_name = #{businessAddressName,jdbcType=VARCHAR},
      business_license = #{businessLicense,jdbcType=VARCHAR},
      business_amt = #{businessAmt,jdbcType=VARCHAR},
      business_expire_start = #{businessExpireStart,jdbcType=VARCHAR},
      business_expire_end = #{businessExpireEnd,jdbcType=VARCHAR},
      business_info = #{businessInfo,jdbcType=VARCHAR},
      enterprise_category = #{enterpriseCategory,jdbcType=VARCHAR},
      enterprise_scale = #{enterpriseScale,jdbcType=VARCHAR},
      mcc = #{mcc,jdbcType=VARCHAR},
      legal_name = #{legalName,jdbcType=VARCHAR},
      legal_cert_type = #{legalCertType,jdbcType=CHAR},
      legal_cert_no = #{legalCertNo,jdbcType=VARCHAR},
      legal_phone = #{legalPhone,jdbcType=VARCHAR},
      legal_expire_start = #{legalExpireStart,jdbcType=VARCHAR},
      legal_expire_end = #{legalExpireEnd,jdbcType=VARCHAR},
      legal_cert_address = #{legalCertAddress,jdbcType=VARCHAR},
      contact_name = #{contactName,jdbcType=VARCHAR},
      contact_cert_type = #{contactCertType,jdbcType=CHAR},
      contact_cert_no = #{contactCertNo,jdbcType=VARCHAR},
      contact_phone = #{contactPhone,jdbcType=VARCHAR},
      contact_expire_start = #{contactExpireStart,jdbcType=VARCHAR},
      contact_expire_end = #{contactExpireEnd,jdbcType=VARCHAR},
      contact_address = #{contactAddress,jdbcType=VARCHAR},
      contact_email = #{contactEmail,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      check_remark = #{checkRemark,jdbcType=VARCHAR},
      pass_time = #{passTime,jdbcType=VARCHAR},
      mch_source = #{mchSource,jdbcType=VARCHAR},
      settle_cycle = #{settleCycle,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_id = #{createId,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_id = #{updateId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>