<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jkf.channel.gateway.dao.OrderInfoMapper" >
  <resultMap id="BaseResultMap" type="com.jkf.channel.gateway.entity.OrderInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="serial" property="serial" jdbcType="VARCHAR" />
    <result column="out_serial" property="outSerial" jdbcType="VARCHAR" />
    <result column="out_mch_id" property="outMchId" jdbcType="VARCHAR" />
    <result column="mch_id" property="mchId" jdbcType="BIGINT" />
    <result column="org_id" property="orgId" jdbcType="BIGINT" />
    <result column="trade_org_id" property="tradeOrgId" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="shop_id" property="shopId" jdbcType="BIGINT" />
    <result column="mch_name" property="mchName" jdbcType="VARCHAR" />
    <result column="sn" property="sn" jdbcType="VARCHAR" />
    <result column="term_sn" property="termSn" jdbcType="VARCHAR" />
    <result column="channel_id" property="channelId" jdbcType="BIGINT" />
    <result column="channel_mch_no" property="channelMchNo" jdbcType="VARCHAR" />
    <result column="channel_term_no" property="channelTermNo" jdbcType="VARCHAR" />
    <result column="channel_order_no" property="channelOrderNo" jdbcType="VARCHAR" />
    <result column="trade_no" property="tradeNo" jdbcType="VARCHAR" />
    <result column="out_trade_no" property="outTradeNo" jdbcType="VARCHAR" />
    <result column="orig_serial" property="origSerial" jdbcType="VARCHAR" />
    <result column="order_type" property="orderType" jdbcType="CHAR" />
    <result column="product" property="product" jdbcType="VARCHAR" />
    <result column="sub_product" property="subProduct" jdbcType="VARCHAR" />
    <result column="order_date" property="orderDate" jdbcType="VARCHAR" />
    <result column="notify_url" property="notifyUrl" jdbcType="VARCHAR" />
    <result column="front_url" property="frontUrl" jdbcType="VARCHAR" />
    <result column="order_amount" property="orderAmount" jdbcType="BIGINT" />
    <result column="coupon_amount" property="couponAmount" jdbcType="BIGINT" />
    <result column="subject" property="subject" jdbcType="VARCHAR" />
    <result column="sub_appid" property="subAppid" jdbcType="VARCHAR" />
    <result column="sub_openid" property="subOpenid" jdbcType="VARCHAR" />
    <result column="auth_code" property="authCode" jdbcType="VARCHAR" />
    <result column="client_ip" property="clientIp" jdbcType="VARCHAR" />
    <result column="longitude" property="longitude" jdbcType="VARCHAR" />
    <result column="latitude" property="latitude" jdbcType="VARCHAR" />
    <result column="expire_time" property="expireTime" jdbcType="BIGINT" />
    <result column="limit_pay" property="limitPay" jdbcType="VARCHAR" />
    <result column="order_ext" property="orderExt" jdbcType="VARCHAR" />
    <result column="trade_status" property="tradeStatus" jdbcType="VARCHAR" />
    <result column="bill_status" property="billStatus" jdbcType="CHAR" />
    <result column="settle_status" property="settleStatus" jdbcType="CHAR" />
    <result column="finish_time" property="finishTime" jdbcType="VARCHAR" />
    <result column="card_type" property="cardType" jdbcType="VARCHAR" />
    <result column="charge_amount" property="chargeAmount" jdbcType="BIGINT" />
    <result column="charge_rate" property="chargeRate" jdbcType="VARCHAR" />
    <result column="add_fee_amount" property="addFeeAmount" jdbcType="BIGINT" />
    <result column="advance_flag" property="advanceFlag" jdbcType="CHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="order_source" property="orderSource" jdbcType="VARCHAR" />
    <result column="source_app" property="sourceApp" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_id" property="createId" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_id" property="updateId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, serial, out_serial, out_mch_id, mch_id, org_id, trade_org_id, user_id, shop_id, 
    mch_name, sn, term_sn, channel_id, channel_mch_no, channel_term_no, channel_order_no, 
    trade_no, out_trade_no, orig_serial, order_type, product, sub_product, order_date, 
    notify_url, front_url, order_amount, coupon_amount, subject, sub_appid, sub_openid, 
    auth_code, client_ip, longitude, latitude, expire_time, limit_pay, order_ext, trade_status, 
    bill_status, settle_status, finish_time, card_type, charge_amount, charge_rate, add_fee_amount, 
    advance_flag, remark, order_source, source_app, create_time, create_id, update_time, 
    update_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jkf.channel.gateway.entity.OrderInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from order_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from order_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from order_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.jkf.channel.gateway.entity.OrderInfoExample" >
    delete from order_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jkf.channel.gateway.entity.OrderInfo" >
    insert into order_info (id, serial, out_serial, 
      out_mch_id, mch_id, org_id, 
      trade_org_id, user_id, shop_id, 
      mch_name, sn, term_sn, 
      channel_id, channel_mch_no, channel_term_no, 
      channel_order_no, trade_no, out_trade_no, 
      orig_serial, order_type, product, 
      sub_product, order_date, notify_url, 
      front_url, order_amount, coupon_amount, 
      subject, sub_appid, sub_openid, 
      auth_code, client_ip, longitude, 
      latitude, expire_time, limit_pay, 
      order_ext, trade_status, bill_status, 
      settle_status, finish_time, card_type, 
      charge_amount, charge_rate, add_fee_amount, 
      advance_flag, remark, order_source, 
      source_app, create_time, create_id, 
      update_time, update_id)
    values (#{id,jdbcType=BIGINT}, #{serial,jdbcType=VARCHAR}, #{outSerial,jdbcType=VARCHAR}, 
      #{outMchId,jdbcType=VARCHAR}, #{mchId,jdbcType=BIGINT}, #{orgId,jdbcType=BIGINT}, 
      #{tradeOrgId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{shopId,jdbcType=BIGINT}, 
      #{mchName,jdbcType=VARCHAR}, #{sn,jdbcType=VARCHAR}, #{termSn,jdbcType=VARCHAR}, 
      #{channelId,jdbcType=BIGINT}, #{channelMchNo,jdbcType=VARCHAR}, #{channelTermNo,jdbcType=VARCHAR}, 
      #{channelOrderNo,jdbcType=VARCHAR}, #{tradeNo,jdbcType=VARCHAR}, #{outTradeNo,jdbcType=VARCHAR}, 
      #{origSerial,jdbcType=VARCHAR}, #{orderType,jdbcType=CHAR}, #{product,jdbcType=VARCHAR}, 
      #{subProduct,jdbcType=VARCHAR}, #{orderDate,jdbcType=VARCHAR}, #{notifyUrl,jdbcType=VARCHAR}, 
      #{frontUrl,jdbcType=VARCHAR}, #{orderAmount,jdbcType=BIGINT}, #{couponAmount,jdbcType=BIGINT}, 
      #{subject,jdbcType=VARCHAR}, #{subAppid,jdbcType=VARCHAR}, #{subOpenid,jdbcType=VARCHAR}, 
      #{authCode,jdbcType=VARCHAR}, #{clientIp,jdbcType=VARCHAR}, #{longitude,jdbcType=VARCHAR}, 
      #{latitude,jdbcType=VARCHAR}, #{expireTime,jdbcType=BIGINT}, #{limitPay,jdbcType=VARCHAR}, 
      #{orderExt,jdbcType=VARCHAR}, #{tradeStatus,jdbcType=VARCHAR}, #{billStatus,jdbcType=CHAR}, 
      #{settleStatus,jdbcType=CHAR}, #{finishTime,jdbcType=VARCHAR}, #{cardType,jdbcType=VARCHAR}, 
      #{chargeAmount,jdbcType=BIGINT}, #{chargeRate,jdbcType=VARCHAR}, #{addFeeAmount,jdbcType=BIGINT}, 
      #{advanceFlag,jdbcType=CHAR}, #{remark,jdbcType=VARCHAR}, #{orderSource,jdbcType=VARCHAR}, 
      #{sourceApp,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createId,jdbcType=BIGINT}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.jkf.channel.gateway.entity.OrderInfo" >
    insert into order_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="serial != null" >
        serial,
      </if>
      <if test="outSerial != null" >
        out_serial,
      </if>
      <if test="outMchId != null" >
        out_mch_id,
      </if>
      <if test="mchId != null" >
        mch_id,
      </if>
      <if test="orgId != null" >
        org_id,
      </if>
      <if test="tradeOrgId != null" >
        trade_org_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="shopId != null" >
        shop_id,
      </if>
      <if test="mchName != null" >
        mch_name,
      </if>
      <if test="sn != null" >
        sn,
      </if>
      <if test="termSn != null" >
        term_sn,
      </if>
      <if test="channelId != null" >
        channel_id,
      </if>
      <if test="channelMchNo != null" >
        channel_mch_no,
      </if>
      <if test="channelTermNo != null" >
        channel_term_no,
      </if>
      <if test="channelOrderNo != null" >
        channel_order_no,
      </if>
      <if test="tradeNo != null" >
        trade_no,
      </if>
      <if test="outTradeNo != null" >
        out_trade_no,
      </if>
      <if test="origSerial != null" >
        orig_serial,
      </if>
      <if test="orderType != null" >
        order_type,
      </if>
      <if test="product != null" >
        product,
      </if>
      <if test="subProduct != null" >
        sub_product,
      </if>
      <if test="orderDate != null" >
        order_date,
      </if>
      <if test="notifyUrl != null" >
        notify_url,
      </if>
      <if test="frontUrl != null" >
        front_url,
      </if>
      <if test="orderAmount != null" >
        order_amount,
      </if>
      <if test="couponAmount != null" >
        coupon_amount,
      </if>
      <if test="subject != null" >
        subject,
      </if>
      <if test="subAppid != null" >
        sub_appid,
      </if>
      <if test="subOpenid != null" >
        sub_openid,
      </if>
      <if test="authCode != null" >
        auth_code,
      </if>
      <if test="clientIp != null" >
        client_ip,
      </if>
      <if test="longitude != null" >
        longitude,
      </if>
      <if test="latitude != null" >
        latitude,
      </if>
      <if test="expireTime != null" >
        expire_time,
      </if>
      <if test="limitPay != null" >
        limit_pay,
      </if>
      <if test="orderExt != null" >
        order_ext,
      </if>
      <if test="tradeStatus != null" >
        trade_status,
      </if>
      <if test="billStatus != null" >
        bill_status,
      </if>
      <if test="settleStatus != null" >
        settle_status,
      </if>
      <if test="finishTime != null" >
        finish_time,
      </if>
      <if test="cardType != null" >
        card_type,
      </if>
      <if test="chargeAmount != null" >
        charge_amount,
      </if>
      <if test="chargeRate != null" >
        charge_rate,
      </if>
      <if test="addFeeAmount != null" >
        add_fee_amount,
      </if>
      <if test="advanceFlag != null" >
        advance_flag,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="orderSource != null" >
        order_source,
      </if>
      <if test="sourceApp != null" >
        source_app,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createId != null" >
        create_id,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateId != null" >
        update_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="serial != null" >
        #{serial,jdbcType=VARCHAR},
      </if>
      <if test="outSerial != null" >
        #{outSerial,jdbcType=VARCHAR},
      </if>
      <if test="outMchId != null" >
        #{outMchId,jdbcType=VARCHAR},
      </if>
      <if test="mchId != null" >
        #{mchId,jdbcType=BIGINT},
      </if>
      <if test="orgId != null" >
        #{orgId,jdbcType=BIGINT},
      </if>
      <if test="tradeOrgId != null" >
        #{tradeOrgId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="shopId != null" >
        #{shopId,jdbcType=BIGINT},
      </if>
      <if test="mchName != null" >
        #{mchName,jdbcType=VARCHAR},
      </if>
      <if test="sn != null" >
        #{sn,jdbcType=VARCHAR},
      </if>
      <if test="termSn != null" >
        #{termSn,jdbcType=VARCHAR},
      </if>
      <if test="channelId != null" >
        #{channelId,jdbcType=BIGINT},
      </if>
      <if test="channelMchNo != null" >
        #{channelMchNo,jdbcType=VARCHAR},
      </if>
      <if test="channelTermNo != null" >
        #{channelTermNo,jdbcType=VARCHAR},
      </if>
      <if test="channelOrderNo != null" >
        #{channelOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="tradeNo != null" >
        #{tradeNo,jdbcType=VARCHAR},
      </if>
      <if test="outTradeNo != null" >
        #{outTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="origSerial != null" >
        #{origSerial,jdbcType=VARCHAR},
      </if>
      <if test="orderType != null" >
        #{orderType,jdbcType=CHAR},
      </if>
      <if test="product != null" >
        #{product,jdbcType=VARCHAR},
      </if>
      <if test="subProduct != null" >
        #{subProduct,jdbcType=VARCHAR},
      </if>
      <if test="orderDate != null" >
        #{orderDate,jdbcType=VARCHAR},
      </if>
      <if test="notifyUrl != null" >
        #{notifyUrl,jdbcType=VARCHAR},
      </if>
      <if test="frontUrl != null" >
        #{frontUrl,jdbcType=VARCHAR},
      </if>
      <if test="orderAmount != null" >
        #{orderAmount,jdbcType=BIGINT},
      </if>
      <if test="couponAmount != null" >
        #{couponAmount,jdbcType=BIGINT},
      </if>
      <if test="subject != null" >
        #{subject,jdbcType=VARCHAR},
      </if>
      <if test="subAppid != null" >
        #{subAppid,jdbcType=VARCHAR},
      </if>
      <if test="subOpenid != null" >
        #{subOpenid,jdbcType=VARCHAR},
      </if>
      <if test="authCode != null" >
        #{authCode,jdbcType=VARCHAR},
      </if>
      <if test="clientIp != null" >
        #{clientIp,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null" >
        #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="expireTime != null" >
        #{expireTime,jdbcType=BIGINT},
      </if>
      <if test="limitPay != null" >
        #{limitPay,jdbcType=VARCHAR},
      </if>
      <if test="orderExt != null" >
        #{orderExt,jdbcType=VARCHAR},
      </if>
      <if test="tradeStatus != null" >
        #{tradeStatus,jdbcType=VARCHAR},
      </if>
      <if test="billStatus != null" >
        #{billStatus,jdbcType=CHAR},
      </if>
      <if test="settleStatus != null" >
        #{settleStatus,jdbcType=CHAR},
      </if>
      <if test="finishTime != null" >
        #{finishTime,jdbcType=VARCHAR},
      </if>
      <if test="cardType != null" >
        #{cardType,jdbcType=VARCHAR},
      </if>
      <if test="chargeAmount != null" >
        #{chargeAmount,jdbcType=BIGINT},
      </if>
      <if test="chargeRate != null" >
        #{chargeRate,jdbcType=VARCHAR},
      </if>
      <if test="addFeeAmount != null" >
        #{addFeeAmount,jdbcType=BIGINT},
      </if>
      <if test="advanceFlag != null" >
        #{advanceFlag,jdbcType=CHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="orderSource != null" >
        #{orderSource,jdbcType=VARCHAR},
      </if>
      <if test="sourceApp != null" >
        #{sourceApp,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createId != null" >
        #{createId,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null" >
        #{updateId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jkf.channel.gateway.entity.OrderInfoExample" resultType="java.lang.Integer" >
    select count(*) from order_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update order_info
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.serial != null" >
        serial = #{record.serial,jdbcType=VARCHAR},
      </if>
      <if test="record.outSerial != null" >
        out_serial = #{record.outSerial,jdbcType=VARCHAR},
      </if>
      <if test="record.outMchId != null" >
        out_mch_id = #{record.outMchId,jdbcType=VARCHAR},
      </if>
      <if test="record.mchId != null" >
        mch_id = #{record.mchId,jdbcType=BIGINT},
      </if>
      <if test="record.orgId != null" >
        org_id = #{record.orgId,jdbcType=BIGINT},
      </if>
      <if test="record.tradeOrgId != null" >
        trade_org_id = #{record.tradeOrgId,jdbcType=BIGINT},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.shopId != null" >
        shop_id = #{record.shopId,jdbcType=BIGINT},
      </if>
      <if test="record.mchName != null" >
        mch_name = #{record.mchName,jdbcType=VARCHAR},
      </if>
      <if test="record.sn != null" >
        sn = #{record.sn,jdbcType=VARCHAR},
      </if>
      <if test="record.termSn != null" >
        term_sn = #{record.termSn,jdbcType=VARCHAR},
      </if>
      <if test="record.channelId != null" >
        channel_id = #{record.channelId,jdbcType=BIGINT},
      </if>
      <if test="record.channelMchNo != null" >
        channel_mch_no = #{record.channelMchNo,jdbcType=VARCHAR},
      </if>
      <if test="record.channelTermNo != null" >
        channel_term_no = #{record.channelTermNo,jdbcType=VARCHAR},
      </if>
      <if test="record.channelOrderNo != null" >
        channel_order_no = #{record.channelOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="record.tradeNo != null" >
        trade_no = #{record.tradeNo,jdbcType=VARCHAR},
      </if>
      <if test="record.outTradeNo != null" >
        out_trade_no = #{record.outTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="record.origSerial != null" >
        orig_serial = #{record.origSerial,jdbcType=VARCHAR},
      </if>
      <if test="record.orderType != null" >
        order_type = #{record.orderType,jdbcType=CHAR},
      </if>
      <if test="record.product != null" >
        product = #{record.product,jdbcType=VARCHAR},
      </if>
      <if test="record.subProduct != null" >
        sub_product = #{record.subProduct,jdbcType=VARCHAR},
      </if>
      <if test="record.orderDate != null" >
        order_date = #{record.orderDate,jdbcType=VARCHAR},
      </if>
      <if test="record.notifyUrl != null" >
        notify_url = #{record.notifyUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.frontUrl != null" >
        front_url = #{record.frontUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.orderAmount != null" >
        order_amount = #{record.orderAmount,jdbcType=BIGINT},
      </if>
      <if test="record.couponAmount != null" >
        coupon_amount = #{record.couponAmount,jdbcType=BIGINT},
      </if>
      <if test="record.subject != null" >
        subject = #{record.subject,jdbcType=VARCHAR},
      </if>
      <if test="record.subAppid != null" >
        sub_appid = #{record.subAppid,jdbcType=VARCHAR},
      </if>
      <if test="record.subOpenid != null" >
        sub_openid = #{record.subOpenid,jdbcType=VARCHAR},
      </if>
      <if test="record.authCode != null" >
        auth_code = #{record.authCode,jdbcType=VARCHAR},
      </if>
      <if test="record.clientIp != null" >
        client_ip = #{record.clientIp,jdbcType=VARCHAR},
      </if>
      <if test="record.longitude != null" >
        longitude = #{record.longitude,jdbcType=VARCHAR},
      </if>
      <if test="record.latitude != null" >
        latitude = #{record.latitude,jdbcType=VARCHAR},
      </if>
      <if test="record.expireTime != null" >
        expire_time = #{record.expireTime,jdbcType=BIGINT},
      </if>
      <if test="record.limitPay != null" >
        limit_pay = #{record.limitPay,jdbcType=VARCHAR},
      </if>
      <if test="record.orderExt != null" >
        order_ext = #{record.orderExt,jdbcType=VARCHAR},
      </if>
      <if test="record.tradeStatus != null" >
        trade_status = #{record.tradeStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.billStatus != null" >
        bill_status = #{record.billStatus,jdbcType=CHAR},
      </if>
      <if test="record.settleStatus != null" >
        settle_status = #{record.settleStatus,jdbcType=CHAR},
      </if>
      <if test="record.finishTime != null" >
        finish_time = #{record.finishTime,jdbcType=VARCHAR},
      </if>
      <if test="record.cardType != null" >
        card_type = #{record.cardType,jdbcType=VARCHAR},
      </if>
      <if test="record.chargeAmount != null" >
        charge_amount = #{record.chargeAmount,jdbcType=BIGINT},
      </if>
      <if test="record.chargeRate != null" >
        charge_rate = #{record.chargeRate,jdbcType=VARCHAR},
      </if>
      <if test="record.addFeeAmount != null" >
        add_fee_amount = #{record.addFeeAmount,jdbcType=BIGINT},
      </if>
      <if test="record.advanceFlag != null" >
        advance_flag = #{record.advanceFlag,jdbcType=CHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.orderSource != null" >
        order_source = #{record.orderSource,jdbcType=VARCHAR},
      </if>
      <if test="record.sourceApp != null" >
        source_app = #{record.sourceApp,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createId != null" >
        create_id = #{record.createId,jdbcType=BIGINT},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateId != null" >
        update_id = #{record.updateId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update order_info
    set id = #{record.id,jdbcType=BIGINT},
      serial = #{record.serial,jdbcType=VARCHAR},
      out_serial = #{record.outSerial,jdbcType=VARCHAR},
      out_mch_id = #{record.outMchId,jdbcType=VARCHAR},
      mch_id = #{record.mchId,jdbcType=BIGINT},
      org_id = #{record.orgId,jdbcType=BIGINT},
      trade_org_id = #{record.tradeOrgId,jdbcType=BIGINT},
      user_id = #{record.userId,jdbcType=BIGINT},
      shop_id = #{record.shopId,jdbcType=BIGINT},
      mch_name = #{record.mchName,jdbcType=VARCHAR},
      sn = #{record.sn,jdbcType=VARCHAR},
      term_sn = #{record.termSn,jdbcType=VARCHAR},
      channel_id = #{record.channelId,jdbcType=BIGINT},
      channel_mch_no = #{record.channelMchNo,jdbcType=VARCHAR},
      channel_term_no = #{record.channelTermNo,jdbcType=VARCHAR},
      channel_order_no = #{record.channelOrderNo,jdbcType=VARCHAR},
      trade_no = #{record.tradeNo,jdbcType=VARCHAR},
      out_trade_no = #{record.outTradeNo,jdbcType=VARCHAR},
      orig_serial = #{record.origSerial,jdbcType=VARCHAR},
      order_type = #{record.orderType,jdbcType=CHAR},
      product = #{record.product,jdbcType=VARCHAR},
      sub_product = #{record.subProduct,jdbcType=VARCHAR},
      order_date = #{record.orderDate,jdbcType=VARCHAR},
      notify_url = #{record.notifyUrl,jdbcType=VARCHAR},
      front_url = #{record.frontUrl,jdbcType=VARCHAR},
      order_amount = #{record.orderAmount,jdbcType=BIGINT},
      coupon_amount = #{record.couponAmount,jdbcType=BIGINT},
      subject = #{record.subject,jdbcType=VARCHAR},
      sub_appid = #{record.subAppid,jdbcType=VARCHAR},
      sub_openid = #{record.subOpenid,jdbcType=VARCHAR},
      auth_code = #{record.authCode,jdbcType=VARCHAR},
      client_ip = #{record.clientIp,jdbcType=VARCHAR},
      longitude = #{record.longitude,jdbcType=VARCHAR},
      latitude = #{record.latitude,jdbcType=VARCHAR},
      expire_time = #{record.expireTime,jdbcType=BIGINT},
      limit_pay = #{record.limitPay,jdbcType=VARCHAR},
      order_ext = #{record.orderExt,jdbcType=VARCHAR},
      trade_status = #{record.tradeStatus,jdbcType=VARCHAR},
      bill_status = #{record.billStatus,jdbcType=CHAR},
      settle_status = #{record.settleStatus,jdbcType=CHAR},
      finish_time = #{record.finishTime,jdbcType=VARCHAR},
      card_type = #{record.cardType,jdbcType=VARCHAR},
      charge_amount = #{record.chargeAmount,jdbcType=BIGINT},
      charge_rate = #{record.chargeRate,jdbcType=VARCHAR},
      add_fee_amount = #{record.addFeeAmount,jdbcType=BIGINT},
      advance_flag = #{record.advanceFlag,jdbcType=CHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      order_source = #{record.orderSource,jdbcType=VARCHAR},
      source_app = #{record.sourceApp,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_id = #{record.createId,jdbcType=BIGINT},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      update_id = #{record.updateId,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jkf.channel.gateway.entity.OrderInfo" >
    update order_info
    <set >
      <if test="serial != null" >
        serial = #{serial,jdbcType=VARCHAR},
      </if>
      <if test="outSerial != null" >
        out_serial = #{outSerial,jdbcType=VARCHAR},
      </if>
      <if test="outMchId != null" >
        out_mch_id = #{outMchId,jdbcType=VARCHAR},
      </if>
      <if test="mchId != null" >
        mch_id = #{mchId,jdbcType=BIGINT},
      </if>
      <if test="orgId != null" >
        org_id = #{orgId,jdbcType=BIGINT},
      </if>
      <if test="tradeOrgId != null" >
        trade_org_id = #{tradeOrgId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="shopId != null" >
        shop_id = #{shopId,jdbcType=BIGINT},
      </if>
      <if test="mchName != null" >
        mch_name = #{mchName,jdbcType=VARCHAR},
      </if>
      <if test="sn != null" >
        sn = #{sn,jdbcType=VARCHAR},
      </if>
      <if test="termSn != null" >
        term_sn = #{termSn,jdbcType=VARCHAR},
      </if>
      <if test="channelId != null" >
        channel_id = #{channelId,jdbcType=BIGINT},
      </if>
      <if test="channelMchNo != null" >
        channel_mch_no = #{channelMchNo,jdbcType=VARCHAR},
      </if>
      <if test="channelTermNo != null" >
        channel_term_no = #{channelTermNo,jdbcType=VARCHAR},
      </if>
      <if test="channelOrderNo != null" >
        channel_order_no = #{channelOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="tradeNo != null" >
        trade_no = #{tradeNo,jdbcType=VARCHAR},
      </if>
      <if test="outTradeNo != null" >
        out_trade_no = #{outTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="origSerial != null" >
        orig_serial = #{origSerial,jdbcType=VARCHAR},
      </if>
      <if test="orderType != null" >
        order_type = #{orderType,jdbcType=CHAR},
      </if>
      <if test="product != null" >
        product = #{product,jdbcType=VARCHAR},
      </if>
      <if test="subProduct != null" >
        sub_product = #{subProduct,jdbcType=VARCHAR},
      </if>
      <if test="orderDate != null" >
        order_date = #{orderDate,jdbcType=VARCHAR},
      </if>
      <if test="notifyUrl != null" >
        notify_url = #{notifyUrl,jdbcType=VARCHAR},
      </if>
      <if test="frontUrl != null" >
        front_url = #{frontUrl,jdbcType=VARCHAR},
      </if>
      <if test="orderAmount != null" >
        order_amount = #{orderAmount,jdbcType=BIGINT},
      </if>
      <if test="couponAmount != null" >
        coupon_amount = #{couponAmount,jdbcType=BIGINT},
      </if>
      <if test="subject != null" >
        subject = #{subject,jdbcType=VARCHAR},
      </if>
      <if test="subAppid != null" >
        sub_appid = #{subAppid,jdbcType=VARCHAR},
      </if>
      <if test="subOpenid != null" >
        sub_openid = #{subOpenid,jdbcType=VARCHAR},
      </if>
      <if test="authCode != null" >
        auth_code = #{authCode,jdbcType=VARCHAR},
      </if>
      <if test="clientIp != null" >
        client_ip = #{clientIp,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        longitude = #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null" >
        latitude = #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="expireTime != null" >
        expire_time = #{expireTime,jdbcType=BIGINT},
      </if>
      <if test="limitPay != null" >
        limit_pay = #{limitPay,jdbcType=VARCHAR},
      </if>
      <if test="orderExt != null" >
        order_ext = #{orderExt,jdbcType=VARCHAR},
      </if>
      <if test="tradeStatus != null" >
        trade_status = #{tradeStatus,jdbcType=VARCHAR},
      </if>
      <if test="billStatus != null" >
        bill_status = #{billStatus,jdbcType=CHAR},
      </if>
      <if test="settleStatus != null" >
        settle_status = #{settleStatus,jdbcType=CHAR},
      </if>
      <if test="finishTime != null" >
        finish_time = #{finishTime,jdbcType=VARCHAR},
      </if>
      <if test="cardType != null" >
        card_type = #{cardType,jdbcType=VARCHAR},
      </if>
      <if test="chargeAmount != null" >
        charge_amount = #{chargeAmount,jdbcType=BIGINT},
      </if>
      <if test="chargeRate != null" >
        charge_rate = #{chargeRate,jdbcType=VARCHAR},
      </if>
      <if test="addFeeAmount != null" >
        add_fee_amount = #{addFeeAmount,jdbcType=BIGINT},
      </if>
      <if test="advanceFlag != null" >
        advance_flag = #{advanceFlag,jdbcType=CHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="orderSource != null" >
        order_source = #{orderSource,jdbcType=VARCHAR},
      </if>
      <if test="sourceApp != null" >
        source_app = #{sourceApp,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createId != null" >
        create_id = #{createId,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null" >
        update_id = #{updateId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jkf.channel.gateway.entity.OrderInfo" >
    update order_info
    set serial = #{serial,jdbcType=VARCHAR},
      out_serial = #{outSerial,jdbcType=VARCHAR},
      out_mch_id = #{outMchId,jdbcType=VARCHAR},
      mch_id = #{mchId,jdbcType=BIGINT},
      org_id = #{orgId,jdbcType=BIGINT},
      trade_org_id = #{tradeOrgId,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=BIGINT},
      shop_id = #{shopId,jdbcType=BIGINT},
      mch_name = #{mchName,jdbcType=VARCHAR},
      sn = #{sn,jdbcType=VARCHAR},
      term_sn = #{termSn,jdbcType=VARCHAR},
      channel_id = #{channelId,jdbcType=BIGINT},
      channel_mch_no = #{channelMchNo,jdbcType=VARCHAR},
      channel_term_no = #{channelTermNo,jdbcType=VARCHAR},
      channel_order_no = #{channelOrderNo,jdbcType=VARCHAR},
      trade_no = #{tradeNo,jdbcType=VARCHAR},
      out_trade_no = #{outTradeNo,jdbcType=VARCHAR},
      orig_serial = #{origSerial,jdbcType=VARCHAR},
      order_type = #{orderType,jdbcType=CHAR},
      product = #{product,jdbcType=VARCHAR},
      sub_product = #{subProduct,jdbcType=VARCHAR},
      order_date = #{orderDate,jdbcType=VARCHAR},
      notify_url = #{notifyUrl,jdbcType=VARCHAR},
      front_url = #{frontUrl,jdbcType=VARCHAR},
      order_amount = #{orderAmount,jdbcType=BIGINT},
      coupon_amount = #{couponAmount,jdbcType=BIGINT},
      subject = #{subject,jdbcType=VARCHAR},
      sub_appid = #{subAppid,jdbcType=VARCHAR},
      sub_openid = #{subOpenid,jdbcType=VARCHAR},
      auth_code = #{authCode,jdbcType=VARCHAR},
      client_ip = #{clientIp,jdbcType=VARCHAR},
      longitude = #{longitude,jdbcType=VARCHAR},
      latitude = #{latitude,jdbcType=VARCHAR},
      expire_time = #{expireTime,jdbcType=BIGINT},
      limit_pay = #{limitPay,jdbcType=VARCHAR},
      order_ext = #{orderExt,jdbcType=VARCHAR},
      trade_status = #{tradeStatus,jdbcType=VARCHAR},
      bill_status = #{billStatus,jdbcType=CHAR},
      settle_status = #{settleStatus,jdbcType=CHAR},
      finish_time = #{finishTime,jdbcType=VARCHAR},
      card_type = #{cardType,jdbcType=VARCHAR},
      charge_amount = #{chargeAmount,jdbcType=BIGINT},
      charge_rate = #{chargeRate,jdbcType=VARCHAR},
      add_fee_amount = #{addFeeAmount,jdbcType=BIGINT},
      advance_flag = #{advanceFlag,jdbcType=CHAR},
      remark = #{remark,jdbcType=VARCHAR},
      order_source = #{orderSource,jdbcType=VARCHAR},
      source_app = #{sourceApp,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_id = #{createId,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_id = #{updateId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>