<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jkf.channel.gateway.dao.ProfitDetailMapper" >
  <resultMap id="BaseResultMap" type="com.jkf.channel.gateway.entity.ProfitDetail" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="profit_org" property="profitOrg" jdbcType="VARCHAR" />
    <result column="profit_org_type" property="profitOrgType" jdbcType="VARCHAR" />
    <result column="profit_org_name" property="profitOrgName" jdbcType="VARCHAR" />
    <result column="virtual_no" property="virtualNo" jdbcType="VARCHAR" />
    <result column="profit_type" property="profitType" jdbcType="VARCHAR" />
    <result column="profit_remark" property="profitRemark" jdbcType="VARCHAR" />
    <result column="profit_org_level" property="profitOrgLevel" jdbcType="VARCHAR" />
    <result column="serial" property="serial" jdbcType="VARCHAR" />
    <result column="product" property="product" jdbcType="VARCHAR" />
    <result column="card_type" property="cardType" jdbcType="CHAR" />
    <result column="apply_id" property="applyId" jdbcType="VARCHAR" />
    <result column="org_id" property="orgId" jdbcType="BIGINT" />
    <result column="plat_serial" property="platSerial" jdbcType="VARCHAR" />
    <result column="trade_amount" property="tradeAmount" jdbcType="BIGINT" />
    <result column="trade_charge_amount" property="tradeChargeAmount" jdbcType="BIGINT" />
    <result column="trade_add_charge_amount" property="tradeAddChargeAmount" jdbcType="BIGINT" />
    <result column="trade_rate" property="tradeRate" jdbcType="VARCHAR" />
    <result column="trade_charge_profit_amount" property="tradeChargeProfitAmount" jdbcType="BIGINT" />
    <result column="trade_add_charge_profit_amount" property="tradeAddChargeProfitAmount" jdbcType="BIGINT" />
    <result column="trade_profit_rate" property="tradeProfitRate" jdbcType="VARCHAR" />
    <result column="other_profit_amount" property="otherProfitAmount" jdbcType="BIGINT" />
    <result column="total_profit_amount" property="totalProfitAmount" jdbcType="BIGINT" />
    <result column="profit_date" property="profitDate" jdbcType="VARCHAR" />
    <result column="trade_mcht_id" property="tradeMchtId" jdbcType="BIGINT" />
    <result column="trade_finish_time" property="tradeFinishTime" jdbcType="VARCHAR" />
    <result column="source" property="source" jdbcType="VARCHAR" />
    <result column="trade_mcht_name" property="tradeMchtName" jdbcType="VARCHAR" />
    <result column="check_status" property="checkStatus" jdbcType="CHAR" />
    <result column="check_name" property="checkName" jdbcType="VARCHAR" />
    <result column="settle_status" property="settleStatus" jdbcType="CHAR" />
    <result column="settle_finish_time" property="settleFinishTime" jdbcType="TIMESTAMP" />
    <result column="create_id" property="createId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_id" property="updateId" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, profit_org, profit_org_type, profit_org_name, virtual_no, profit_type, profit_remark, 
    profit_org_level, serial, product, card_type, apply_id, org_id, plat_serial, trade_amount, 
    trade_charge_amount, trade_add_charge_amount, trade_rate, trade_charge_profit_amount, 
    trade_add_charge_profit_amount, trade_profit_rate, other_profit_amount, total_profit_amount, 
    profit_date, trade_mcht_id, trade_finish_time, `source`, trade_mcht_name, check_status, 
    check_name, settle_status, settle_finish_time, create_id, create_time, update_id, 
    update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jkf.channel.gateway.entity.ProfitDetailExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from profit_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from profit_detail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from profit_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.jkf.channel.gateway.entity.ProfitDetailExample" >
    delete from profit_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jkf.channel.gateway.entity.ProfitDetail" >
    insert into profit_detail (id, profit_org, profit_org_type, 
      profit_org_name, virtual_no, profit_type, 
      profit_remark, profit_org_level, serial, 
      product, card_type, apply_id, 
      org_id, plat_serial, trade_amount, 
      trade_charge_amount, trade_add_charge_amount, 
      trade_rate, trade_charge_profit_amount, trade_add_charge_profit_amount, 
      trade_profit_rate, other_profit_amount, total_profit_amount, 
      profit_date, trade_mcht_id, trade_finish_time, 
      `source`, trade_mcht_name, check_status, 
      check_name, settle_status, settle_finish_time, 
      create_id, create_time, update_id, 
      update_time)
    values (#{id,jdbcType=BIGINT}, #{profitOrg,jdbcType=VARCHAR}, #{profitOrgType,jdbcType=VARCHAR}, 
      #{profitOrgName,jdbcType=VARCHAR}, #{virtualNo,jdbcType=VARCHAR}, #{profitType,jdbcType=VARCHAR}, 
      #{profitRemark,jdbcType=VARCHAR}, #{profitOrgLevel,jdbcType=VARCHAR}, #{serial,jdbcType=VARCHAR}, 
      #{product,jdbcType=VARCHAR}, #{cardType,jdbcType=CHAR}, #{applyId,jdbcType=VARCHAR}, 
      #{orgId,jdbcType=BIGINT}, #{platSerial,jdbcType=VARCHAR}, #{tradeAmount,jdbcType=BIGINT}, 
      #{tradeChargeAmount,jdbcType=BIGINT}, #{tradeAddChargeAmount,jdbcType=BIGINT}, 
      #{tradeRate,jdbcType=VARCHAR}, #{tradeChargeProfitAmount,jdbcType=BIGINT}, #{tradeAddChargeProfitAmount,jdbcType=BIGINT}, 
      #{tradeProfitRate,jdbcType=VARCHAR}, #{otherProfitAmount,jdbcType=BIGINT}, #{totalProfitAmount,jdbcType=BIGINT}, 
      #{profitDate,jdbcType=VARCHAR}, #{tradeMchtId,jdbcType=BIGINT}, #{tradeFinishTime,jdbcType=VARCHAR}, 
      #{source,jdbcType=VARCHAR}, #{tradeMchtName,jdbcType=VARCHAR}, #{checkStatus,jdbcType=CHAR}, 
      #{checkName,jdbcType=VARCHAR}, #{settleStatus,jdbcType=CHAR}, #{settleFinishTime,jdbcType=TIMESTAMP}, 
      #{createId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateId,jdbcType=BIGINT}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.jkf.channel.gateway.entity.ProfitDetail" >
    insert into profit_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="profitOrg != null" >
        profit_org,
      </if>
      <if test="profitOrgType != null" >
        profit_org_type,
      </if>
      <if test="profitOrgName != null" >
        profit_org_name,
      </if>
      <if test="virtualNo != null" >
        virtual_no,
      </if>
      <if test="profitType != null" >
        profit_type,
      </if>
      <if test="profitRemark != null" >
        profit_remark,
      </if>
      <if test="profitOrgLevel != null" >
        profit_org_level,
      </if>
      <if test="serial != null" >
        serial,
      </if>
      <if test="product != null" >
        product,
      </if>
      <if test="cardType != null" >
        card_type,
      </if>
      <if test="applyId != null" >
        apply_id,
      </if>
      <if test="orgId != null" >
        org_id,
      </if>
      <if test="platSerial != null" >
        plat_serial,
      </if>
      <if test="tradeAmount != null" >
        trade_amount,
      </if>
      <if test="tradeChargeAmount != null" >
        trade_charge_amount,
      </if>
      <if test="tradeAddChargeAmount != null" >
        trade_add_charge_amount,
      </if>
      <if test="tradeRate != null" >
        trade_rate,
      </if>
      <if test="tradeChargeProfitAmount != null" >
        trade_charge_profit_amount,
      </if>
      <if test="tradeAddChargeProfitAmount != null" >
        trade_add_charge_profit_amount,
      </if>
      <if test="tradeProfitRate != null" >
        trade_profit_rate,
      </if>
      <if test="otherProfitAmount != null" >
        other_profit_amount,
      </if>
      <if test="totalProfitAmount != null" >
        total_profit_amount,
      </if>
      <if test="profitDate != null" >
        profit_date,
      </if>
      <if test="tradeMchtId != null" >
        trade_mcht_id,
      </if>
      <if test="tradeFinishTime != null" >
        trade_finish_time,
      </if>
      <if test="source != null" >
        `source`,
      </if>
      <if test="tradeMchtName != null" >
        trade_mcht_name,
      </if>
      <if test="checkStatus != null" >
        check_status,
      </if>
      <if test="checkName != null" >
        check_name,
      </if>
      <if test="settleStatus != null" >
        settle_status,
      </if>
      <if test="settleFinishTime != null" >
        settle_finish_time,
      </if>
      <if test="createId != null" >
        create_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateId != null" >
        update_id,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="profitOrg != null" >
        #{profitOrg,jdbcType=VARCHAR},
      </if>
      <if test="profitOrgType != null" >
        #{profitOrgType,jdbcType=VARCHAR},
      </if>
      <if test="profitOrgName != null" >
        #{profitOrgName,jdbcType=VARCHAR},
      </if>
      <if test="virtualNo != null" >
        #{virtualNo,jdbcType=VARCHAR},
      </if>
      <if test="profitType != null" >
        #{profitType,jdbcType=VARCHAR},
      </if>
      <if test="profitRemark != null" >
        #{profitRemark,jdbcType=VARCHAR},
      </if>
      <if test="profitOrgLevel != null" >
        #{profitOrgLevel,jdbcType=VARCHAR},
      </if>
      <if test="serial != null" >
        #{serial,jdbcType=VARCHAR},
      </if>
      <if test="product != null" >
        #{product,jdbcType=VARCHAR},
      </if>
      <if test="cardType != null" >
        #{cardType,jdbcType=CHAR},
      </if>
      <if test="applyId != null" >
        #{applyId,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null" >
        #{orgId,jdbcType=BIGINT},
      </if>
      <if test="platSerial != null" >
        #{platSerial,jdbcType=VARCHAR},
      </if>
      <if test="tradeAmount != null" >
        #{tradeAmount,jdbcType=BIGINT},
      </if>
      <if test="tradeChargeAmount != null" >
        #{tradeChargeAmount,jdbcType=BIGINT},
      </if>
      <if test="tradeAddChargeAmount != null" >
        #{tradeAddChargeAmount,jdbcType=BIGINT},
      </if>
      <if test="tradeRate != null" >
        #{tradeRate,jdbcType=VARCHAR},
      </if>
      <if test="tradeChargeProfitAmount != null" >
        #{tradeChargeProfitAmount,jdbcType=BIGINT},
      </if>
      <if test="tradeAddChargeProfitAmount != null" >
        #{tradeAddChargeProfitAmount,jdbcType=BIGINT},
      </if>
      <if test="tradeProfitRate != null" >
        #{tradeProfitRate,jdbcType=VARCHAR},
      </if>
      <if test="otherProfitAmount != null" >
        #{otherProfitAmount,jdbcType=BIGINT},
      </if>
      <if test="totalProfitAmount != null" >
        #{totalProfitAmount,jdbcType=BIGINT},
      </if>
      <if test="profitDate != null" >
        #{profitDate,jdbcType=VARCHAR},
      </if>
      <if test="tradeMchtId != null" >
        #{tradeMchtId,jdbcType=BIGINT},
      </if>
      <if test="tradeFinishTime != null" >
        #{tradeFinishTime,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="tradeMchtName != null" >
        #{tradeMchtName,jdbcType=VARCHAR},
      </if>
      <if test="checkStatus != null" >
        #{checkStatus,jdbcType=CHAR},
      </if>
      <if test="checkName != null" >
        #{checkName,jdbcType=VARCHAR},
      </if>
      <if test="settleStatus != null" >
        #{settleStatus,jdbcType=CHAR},
      </if>
      <if test="settleFinishTime != null" >
        #{settleFinishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createId != null" >
        #{createId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null" >
        #{updateId,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jkf.channel.gateway.entity.ProfitDetailExample" resultType="java.lang.Integer" >
    select count(*) from profit_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update profit_detail
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.profitOrg != null" >
        profit_org = #{record.profitOrg,jdbcType=VARCHAR},
      </if>
      <if test="record.profitOrgType != null" >
        profit_org_type = #{record.profitOrgType,jdbcType=VARCHAR},
      </if>
      <if test="record.profitOrgName != null" >
        profit_org_name = #{record.profitOrgName,jdbcType=VARCHAR},
      </if>
      <if test="record.virtualNo != null" >
        virtual_no = #{record.virtualNo,jdbcType=VARCHAR},
      </if>
      <if test="record.profitType != null" >
        profit_type = #{record.profitType,jdbcType=VARCHAR},
      </if>
      <if test="record.profitRemark != null" >
        profit_remark = #{record.profitRemark,jdbcType=VARCHAR},
      </if>
      <if test="record.profitOrgLevel != null" >
        profit_org_level = #{record.profitOrgLevel,jdbcType=VARCHAR},
      </if>
      <if test="record.serial != null" >
        serial = #{record.serial,jdbcType=VARCHAR},
      </if>
      <if test="record.product != null" >
        product = #{record.product,jdbcType=VARCHAR},
      </if>
      <if test="record.cardType != null" >
        card_type = #{record.cardType,jdbcType=CHAR},
      </if>
      <if test="record.applyId != null" >
        apply_id = #{record.applyId,jdbcType=VARCHAR},
      </if>
      <if test="record.orgId != null" >
        org_id = #{record.orgId,jdbcType=BIGINT},
      </if>
      <if test="record.platSerial != null" >
        plat_serial = #{record.platSerial,jdbcType=VARCHAR},
      </if>
      <if test="record.tradeAmount != null" >
        trade_amount = #{record.tradeAmount,jdbcType=BIGINT},
      </if>
      <if test="record.tradeChargeAmount != null" >
        trade_charge_amount = #{record.tradeChargeAmount,jdbcType=BIGINT},
      </if>
      <if test="record.tradeAddChargeAmount != null" >
        trade_add_charge_amount = #{record.tradeAddChargeAmount,jdbcType=BIGINT},
      </if>
      <if test="record.tradeRate != null" >
        trade_rate = #{record.tradeRate,jdbcType=VARCHAR},
      </if>
      <if test="record.tradeChargeProfitAmount != null" >
        trade_charge_profit_amount = #{record.tradeChargeProfitAmount,jdbcType=BIGINT},
      </if>
      <if test="record.tradeAddChargeProfitAmount != null" >
        trade_add_charge_profit_amount = #{record.tradeAddChargeProfitAmount,jdbcType=BIGINT},
      </if>
      <if test="record.tradeProfitRate != null" >
        trade_profit_rate = #{record.tradeProfitRate,jdbcType=VARCHAR},
      </if>
      <if test="record.otherProfitAmount != null" >
        other_profit_amount = #{record.otherProfitAmount,jdbcType=BIGINT},
      </if>
      <if test="record.totalProfitAmount != null" >
        total_profit_amount = #{record.totalProfitAmount,jdbcType=BIGINT},
      </if>
      <if test="record.profitDate != null" >
        profit_date = #{record.profitDate,jdbcType=VARCHAR},
      </if>
      <if test="record.tradeMchtId != null" >
        trade_mcht_id = #{record.tradeMchtId,jdbcType=BIGINT},
      </if>
      <if test="record.tradeFinishTime != null" >
        trade_finish_time = #{record.tradeFinishTime,jdbcType=VARCHAR},
      </if>
      <if test="record.source != null" >
        `source` = #{record.source,jdbcType=VARCHAR},
      </if>
      <if test="record.tradeMchtName != null" >
        trade_mcht_name = #{record.tradeMchtName,jdbcType=VARCHAR},
      </if>
      <if test="record.checkStatus != null" >
        check_status = #{record.checkStatus,jdbcType=CHAR},
      </if>
      <if test="record.checkName != null" >
        check_name = #{record.checkName,jdbcType=VARCHAR},
      </if>
      <if test="record.settleStatus != null" >
        settle_status = #{record.settleStatus,jdbcType=CHAR},
      </if>
      <if test="record.settleFinishTime != null" >
        settle_finish_time = #{record.settleFinishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createId != null" >
        create_id = #{record.createId,jdbcType=BIGINT},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateId != null" >
        update_id = #{record.updateId,jdbcType=BIGINT},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update profit_detail
    set id = #{record.id,jdbcType=BIGINT},
      profit_org = #{record.profitOrg,jdbcType=VARCHAR},
      profit_org_type = #{record.profitOrgType,jdbcType=VARCHAR},
      profit_org_name = #{record.profitOrgName,jdbcType=VARCHAR},
      virtual_no = #{record.virtualNo,jdbcType=VARCHAR},
      profit_type = #{record.profitType,jdbcType=VARCHAR},
      profit_remark = #{record.profitRemark,jdbcType=VARCHAR},
      profit_org_level = #{record.profitOrgLevel,jdbcType=VARCHAR},
      serial = #{record.serial,jdbcType=VARCHAR},
      product = #{record.product,jdbcType=VARCHAR},
      card_type = #{record.cardType,jdbcType=CHAR},
      apply_id = #{record.applyId,jdbcType=VARCHAR},
      org_id = #{record.orgId,jdbcType=BIGINT},
      plat_serial = #{record.platSerial,jdbcType=VARCHAR},
      trade_amount = #{record.tradeAmount,jdbcType=BIGINT},
      trade_charge_amount = #{record.tradeChargeAmount,jdbcType=BIGINT},
      trade_add_charge_amount = #{record.tradeAddChargeAmount,jdbcType=BIGINT},
      trade_rate = #{record.tradeRate,jdbcType=VARCHAR},
      trade_charge_profit_amount = #{record.tradeChargeProfitAmount,jdbcType=BIGINT},
      trade_add_charge_profit_amount = #{record.tradeAddChargeProfitAmount,jdbcType=BIGINT},
      trade_profit_rate = #{record.tradeProfitRate,jdbcType=VARCHAR},
      other_profit_amount = #{record.otherProfitAmount,jdbcType=BIGINT},
      total_profit_amount = #{record.totalProfitAmount,jdbcType=BIGINT},
      profit_date = #{record.profitDate,jdbcType=VARCHAR},
      trade_mcht_id = #{record.tradeMchtId,jdbcType=BIGINT},
      trade_finish_time = #{record.tradeFinishTime,jdbcType=VARCHAR},
      `source` = #{record.source,jdbcType=VARCHAR},
      trade_mcht_name = #{record.tradeMchtName,jdbcType=VARCHAR},
      check_status = #{record.checkStatus,jdbcType=CHAR},
      check_name = #{record.checkName,jdbcType=VARCHAR},
      settle_status = #{record.settleStatus,jdbcType=CHAR},
      settle_finish_time = #{record.settleFinishTime,jdbcType=TIMESTAMP},
      create_id = #{record.createId,jdbcType=BIGINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_id = #{record.updateId,jdbcType=BIGINT},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jkf.channel.gateway.entity.ProfitDetail" >
    update profit_detail
    <set >
      <if test="profitOrg != null" >
        profit_org = #{profitOrg,jdbcType=VARCHAR},
      </if>
      <if test="profitOrgType != null" >
        profit_org_type = #{profitOrgType,jdbcType=VARCHAR},
      </if>
      <if test="profitOrgName != null" >
        profit_org_name = #{profitOrgName,jdbcType=VARCHAR},
      </if>
      <if test="virtualNo != null" >
        virtual_no = #{virtualNo,jdbcType=VARCHAR},
      </if>
      <if test="profitType != null" >
        profit_type = #{profitType,jdbcType=VARCHAR},
      </if>
      <if test="profitRemark != null" >
        profit_remark = #{profitRemark,jdbcType=VARCHAR},
      </if>
      <if test="profitOrgLevel != null" >
        profit_org_level = #{profitOrgLevel,jdbcType=VARCHAR},
      </if>
      <if test="serial != null" >
        serial = #{serial,jdbcType=VARCHAR},
      </if>
      <if test="product != null" >
        product = #{product,jdbcType=VARCHAR},
      </if>
      <if test="cardType != null" >
        card_type = #{cardType,jdbcType=CHAR},
      </if>
      <if test="applyId != null" >
        apply_id = #{applyId,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null" >
        org_id = #{orgId,jdbcType=BIGINT},
      </if>
      <if test="platSerial != null" >
        plat_serial = #{platSerial,jdbcType=VARCHAR},
      </if>
      <if test="tradeAmount != null" >
        trade_amount = #{tradeAmount,jdbcType=BIGINT},
      </if>
      <if test="tradeChargeAmount != null" >
        trade_charge_amount = #{tradeChargeAmount,jdbcType=BIGINT},
      </if>
      <if test="tradeAddChargeAmount != null" >
        trade_add_charge_amount = #{tradeAddChargeAmount,jdbcType=BIGINT},
      </if>
      <if test="tradeRate != null" >
        trade_rate = #{tradeRate,jdbcType=VARCHAR},
      </if>
      <if test="tradeChargeProfitAmount != null" >
        trade_charge_profit_amount = #{tradeChargeProfitAmount,jdbcType=BIGINT},
      </if>
      <if test="tradeAddChargeProfitAmount != null" >
        trade_add_charge_profit_amount = #{tradeAddChargeProfitAmount,jdbcType=BIGINT},
      </if>
      <if test="tradeProfitRate != null" >
        trade_profit_rate = #{tradeProfitRate,jdbcType=VARCHAR},
      </if>
      <if test="otherProfitAmount != null" >
        other_profit_amount = #{otherProfitAmount,jdbcType=BIGINT},
      </if>
      <if test="totalProfitAmount != null" >
        total_profit_amount = #{totalProfitAmount,jdbcType=BIGINT},
      </if>
      <if test="profitDate != null" >
        profit_date = #{profitDate,jdbcType=VARCHAR},
      </if>
      <if test="tradeMchtId != null" >
        trade_mcht_id = #{tradeMchtId,jdbcType=BIGINT},
      </if>
      <if test="tradeFinishTime != null" >
        trade_finish_time = #{tradeFinishTime,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        `source` = #{source,jdbcType=VARCHAR},
      </if>
      <if test="tradeMchtName != null" >
        trade_mcht_name = #{tradeMchtName,jdbcType=VARCHAR},
      </if>
      <if test="checkStatus != null" >
        check_status = #{checkStatus,jdbcType=CHAR},
      </if>
      <if test="checkName != null" >
        check_name = #{checkName,jdbcType=VARCHAR},
      </if>
      <if test="settleStatus != null" >
        settle_status = #{settleStatus,jdbcType=CHAR},
      </if>
      <if test="settleFinishTime != null" >
        settle_finish_time = #{settleFinishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createId != null" >
        create_id = #{createId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null" >
        update_id = #{updateId,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jkf.channel.gateway.entity.ProfitDetail" >
    update profit_detail
    set profit_org = #{profitOrg,jdbcType=VARCHAR},
      profit_org_type = #{profitOrgType,jdbcType=VARCHAR},
      profit_org_name = #{profitOrgName,jdbcType=VARCHAR},
      virtual_no = #{virtualNo,jdbcType=VARCHAR},
      profit_type = #{profitType,jdbcType=VARCHAR},
      profit_remark = #{profitRemark,jdbcType=VARCHAR},
      profit_org_level = #{profitOrgLevel,jdbcType=VARCHAR},
      serial = #{serial,jdbcType=VARCHAR},
      product = #{product,jdbcType=VARCHAR},
      card_type = #{cardType,jdbcType=CHAR},
      apply_id = #{applyId,jdbcType=VARCHAR},
      org_id = #{orgId,jdbcType=BIGINT},
      plat_serial = #{platSerial,jdbcType=VARCHAR},
      trade_amount = #{tradeAmount,jdbcType=BIGINT},
      trade_charge_amount = #{tradeChargeAmount,jdbcType=BIGINT},
      trade_add_charge_amount = #{tradeAddChargeAmount,jdbcType=BIGINT},
      trade_rate = #{tradeRate,jdbcType=VARCHAR},
      trade_charge_profit_amount = #{tradeChargeProfitAmount,jdbcType=BIGINT},
      trade_add_charge_profit_amount = #{tradeAddChargeProfitAmount,jdbcType=BIGINT},
      trade_profit_rate = #{tradeProfitRate,jdbcType=VARCHAR},
      other_profit_amount = #{otherProfitAmount,jdbcType=BIGINT},
      total_profit_amount = #{totalProfitAmount,jdbcType=BIGINT},
      profit_date = #{profitDate,jdbcType=VARCHAR},
      trade_mcht_id = #{tradeMchtId,jdbcType=BIGINT},
      trade_finish_time = #{tradeFinishTime,jdbcType=VARCHAR},
      `source` = #{source,jdbcType=VARCHAR},
      trade_mcht_name = #{tradeMchtName,jdbcType=VARCHAR},
      check_status = #{checkStatus,jdbcType=CHAR},
      check_name = #{checkName,jdbcType=VARCHAR},
      settle_status = #{settleStatus,jdbcType=CHAR},
      settle_finish_time = #{settleFinishTime,jdbcType=TIMESTAMP},
      create_id = #{createId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_id = #{updateId,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>