<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jkf.channel.gateway.dao.VirtualAccountDetailMapper" >
  <resultMap id="BaseResultMap" type="com.jkf.channel.gateway.entity.VirtualAccountDetail" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="virtual_no" property="virtualNo" jdbcType="VARCHAR" />
    <result column="is_add" property="isAdd" jdbcType="VARCHAR" />
    <result column="act_type" property="actType" jdbcType="CHAR" />
    <result column="amount" property="amount" jdbcType="VARCHAR" />
    <result column="charge" property="charge" jdbcType="VARCHAR" />
    <result column="final_amount" property="finalAmount" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="act_date" property="actDate" jdbcType="VARCHAR" />
    <result column="serial" property="serial" jdbcType="VARCHAR" />
    <result column="add_blance" property="addBlance" jdbcType="CHAR" />
    <result column="add_name" property="addName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_id" property="createId" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_id" property="updateId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, virtual_no, is_add, act_type, amount, charge, final_amount, remark, act_date, 
    serial, add_blance, add_name, create_time, create_id, update_time, update_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jkf.channel.gateway.entity.VirtualAccountDetailExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from virtual_account_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from virtual_account_detail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from virtual_account_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.jkf.channel.gateway.entity.VirtualAccountDetailExample" >
    delete from virtual_account_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jkf.channel.gateway.entity.VirtualAccountDetail" >
    insert into virtual_account_detail (id, virtual_no, is_add, 
      act_type, amount, charge, 
      final_amount, remark, act_date, 
      serial, add_blance, add_name, 
      create_time, create_id, update_time, 
      update_id)
    values (#{id,jdbcType=BIGINT}, #{virtualNo,jdbcType=VARCHAR}, #{isAdd,jdbcType=VARCHAR}, 
      #{actType,jdbcType=CHAR}, #{amount,jdbcType=VARCHAR}, #{charge,jdbcType=VARCHAR}, 
      #{finalAmount,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{actDate,jdbcType=VARCHAR}, 
      #{serial,jdbcType=VARCHAR}, #{addBlance,jdbcType=CHAR}, #{addName,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createId,jdbcType=BIGINT}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{updateId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.jkf.channel.gateway.entity.VirtualAccountDetail" >
    insert into virtual_account_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="virtualNo != null" >
        virtual_no,
      </if>
      <if test="isAdd != null" >
        is_add,
      </if>
      <if test="actType != null" >
        act_type,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="charge != null" >
        charge,
      </if>
      <if test="finalAmount != null" >
        final_amount,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="actDate != null" >
        act_date,
      </if>
      <if test="serial != null" >
        serial,
      </if>
      <if test="addBlance != null" >
        add_blance,
      </if>
      <if test="addName != null" >
        add_name,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createId != null" >
        create_id,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateId != null" >
        update_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="virtualNo != null" >
        #{virtualNo,jdbcType=VARCHAR},
      </if>
      <if test="isAdd != null" >
        #{isAdd,jdbcType=VARCHAR},
      </if>
      <if test="actType != null" >
        #{actType,jdbcType=CHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=VARCHAR},
      </if>
      <if test="charge != null" >
        #{charge,jdbcType=VARCHAR},
      </if>
      <if test="finalAmount != null" >
        #{finalAmount,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="actDate != null" >
        #{actDate,jdbcType=VARCHAR},
      </if>
      <if test="serial != null" >
        #{serial,jdbcType=VARCHAR},
      </if>
      <if test="addBlance != null" >
        #{addBlance,jdbcType=CHAR},
      </if>
      <if test="addName != null" >
        #{addName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createId != null" >
        #{createId,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null" >
        #{updateId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jkf.channel.gateway.entity.VirtualAccountDetailExample" resultType="java.lang.Integer" >
    select count(*) from virtual_account_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update virtual_account_detail
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.virtualNo != null" >
        virtual_no = #{record.virtualNo,jdbcType=VARCHAR},
      </if>
      <if test="record.isAdd != null" >
        is_add = #{record.isAdd,jdbcType=VARCHAR},
      </if>
      <if test="record.actType != null" >
        act_type = #{record.actType,jdbcType=CHAR},
      </if>
      <if test="record.amount != null" >
        amount = #{record.amount,jdbcType=VARCHAR},
      </if>
      <if test="record.charge != null" >
        charge = #{record.charge,jdbcType=VARCHAR},
      </if>
      <if test="record.finalAmount != null" >
        final_amount = #{record.finalAmount,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.actDate != null" >
        act_date = #{record.actDate,jdbcType=VARCHAR},
      </if>
      <if test="record.serial != null" >
        serial = #{record.serial,jdbcType=VARCHAR},
      </if>
      <if test="record.addBlance != null" >
        add_blance = #{record.addBlance,jdbcType=CHAR},
      </if>
      <if test="record.addName != null" >
        add_name = #{record.addName,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createId != null" >
        create_id = #{record.createId,jdbcType=BIGINT},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateId != null" >
        update_id = #{record.updateId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update virtual_account_detail
    set id = #{record.id,jdbcType=BIGINT},
      virtual_no = #{record.virtualNo,jdbcType=VARCHAR},
      is_add = #{record.isAdd,jdbcType=VARCHAR},
      act_type = #{record.actType,jdbcType=CHAR},
      amount = #{record.amount,jdbcType=VARCHAR},
      charge = #{record.charge,jdbcType=VARCHAR},
      final_amount = #{record.finalAmount,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      act_date = #{record.actDate,jdbcType=VARCHAR},
      serial = #{record.serial,jdbcType=VARCHAR},
      add_blance = #{record.addBlance,jdbcType=CHAR},
      add_name = #{record.addName,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_id = #{record.createId,jdbcType=BIGINT},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      update_id = #{record.updateId,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jkf.channel.gateway.entity.VirtualAccountDetail" >
    update virtual_account_detail
    <set >
      <if test="virtualNo != null" >
        virtual_no = #{virtualNo,jdbcType=VARCHAR},
      </if>
      <if test="isAdd != null" >
        is_add = #{isAdd,jdbcType=VARCHAR},
      </if>
      <if test="actType != null" >
        act_type = #{actType,jdbcType=CHAR},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=VARCHAR},
      </if>
      <if test="charge != null" >
        charge = #{charge,jdbcType=VARCHAR},
      </if>
      <if test="finalAmount != null" >
        final_amount = #{finalAmount,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="actDate != null" >
        act_date = #{actDate,jdbcType=VARCHAR},
      </if>
      <if test="serial != null" >
        serial = #{serial,jdbcType=VARCHAR},
      </if>
      <if test="addBlance != null" >
        add_blance = #{addBlance,jdbcType=CHAR},
      </if>
      <if test="addName != null" >
        add_name = #{addName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createId != null" >
        create_id = #{createId,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null" >
        update_id = #{updateId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jkf.channel.gateway.entity.VirtualAccountDetail" >
    update virtual_account_detail
    set virtual_no = #{virtualNo,jdbcType=VARCHAR},
      is_add = #{isAdd,jdbcType=VARCHAR},
      act_type = #{actType,jdbcType=CHAR},
      amount = #{amount,jdbcType=VARCHAR},
      charge = #{charge,jdbcType=VARCHAR},
      final_amount = #{finalAmount,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      act_date = #{actDate,jdbcType=VARCHAR},
      serial = #{serial,jdbcType=VARCHAR},
      add_blance = #{addBlance,jdbcType=CHAR},
      add_name = #{addName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_id = #{createId,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_id = #{updateId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>